[2014-01-20 16:44] admsyn opened #1 "Threads chapter is at the end of the book"
Figured a github issue's as good as any to talk about this :)

IMO the thread chapter should be a little earlier, maybe woven in around the chapter 6/7/8 range. I realize threading is relatively advanced, but it could _probably_ be explained in a straightforward enough way as to not seem jarring in the mid-range of the book.

The reason I single this out is that it's pretty crucial for the sound c

[2014-02-03 22:35] nunogmartins opened #3 "Book language and build scripts"
Will the chapters be written in markdown, (la)tex or any other language ?
Is there any place that I can get this information, or is not yet decided ?
Will be any script to build the book, or it will be only for online visualization ?

[2014-02-04 10:29] bilderbuchi opened #5 "Version control chapter"
Regarding the title of the chapter, _"Introduction to version control with git"_ is definitely a precise description of the contents. It's quite a mouthful, though, so I'm thinking about shortening it to _"Version control with Git"_.
Thoughts?

[2014-02-04 15:08] Onna-no-hito opened #6 "For the groups talking about OSC"
three chapters give mention to OSC--

Phoenix (Game Design) will be covering it in-depth, followed by Caitlin/Pierre (Hardware) and Eva's Project Breakdown. You guys should check in with each other, depending on your specific use-case, you can perhaps reference Phoenix's chapter/section without repeating the same text.

[2014-02-04 15:32] Onna-no-hito opened #7 "For groups talking about classes, comparing languages"
A couple chapters discuss how classes work:
JTNimoy (C++ Basics), Rui (OOPs)

and several chapters give mention to C++ versus other langauges:
JTNimoy (C++ Basics), Rui (OOPs),  Lukasz (iOS), Arturo (Android--java)

just wanted you guys to check-in with each other to possibly save yourselves time
and not repeat the same explanations.

some questions:
is it more fitting for Rui to talk about classe

[2014-02-04 16:20] Onna-no-hito opened #8 "OpenGL overlap"
Lukasz (iOS) and Patricio (Shaders), just wanted to point out you're both proposing to speak about differences between dif't versions of opengl.

Lukasz wrote: OpenGL ES1 & ES2 renderers, what are the differences.

Patricio: Differences between openGL2, openGL ES and openGL3

maybe you guys can combine forces and keep it in the Shaders chapter, with Lukasz referencing it in the iOS discussion?

[2014-02-04 18:05] ofZach opened #9 "joel project break down"
hey joel, can you tighten up your outline?   ie, take the three projects and maybe elaborate on how you would write about them?  I think it will help here.  The other material (such as things for other parts of the book) is probably useful on the hackpad (or talk to other chapter authors), but it would be good to get an as detailed as possible outline regarding the projects you want to discuss.

[2014-02-04 18:07] ofZach opened #10 "c++ basics"
hey @jtnimoy awesome work!  if you have a moment, can you break apart the outline and the writing ?  (I think we are just trying to get a clear sense of outlines from everyone)

[2014-02-04 18:49] Onna-no-hito opened #11 "Intro to Graphics chapter should come before Anim Chapter? and other related redundancies..."
Intro to graphics should come before the anim chapter, or? that way x/y coordinate system and drawing to screen are already discussed before talking about how to animate objects on screen.

although-- Zach are you covering those two topics in the Intro?

you wrote:
setup/update/draw
first project a circle moving in the screen

i feel there might be some overlap between Zach (Intro/Anim), Mike (Int

[2014-02-04 19:03] mikewesthad opened #12 "Order and Flow"
I think it would be a good time to start talking about chapter order and the flow of reading.

After the reading the outlines, I see there are a few core chapters that need to be read in order, and then the others can be read in whatever order the reader prefers.  (I'm thinking about absolute beginners here.)

Here's a suggested order of chapters to get people making openFrameworks apps as quickly

[2014-02-04 20:11] Onna-no-hito opened #13 "Vertex/Fragment shaders"
@patriciogonzalezvivo @memo have both proposed to discuss vertex and fragment shaders. if one of you is covering theory and the other use case, maybe not a prob but ya might wanna check in on that.

[2014-02-04 22:11] #3 closed, assigned to nobody

[2014-02-04 22:42] #1 closed, assigned to nobody

[2014-02-04 22:53] arturoc opened #16 "sound chapter"
adam probably you plan to explain it but it's probably useful starting with the different ways of using audio in OF then go into details of dsp programming?

like explaining how the soundplayer can play a sound file but, at least right now, you can't access the audio wave, (perhaps compare the audio wave with pixels in an image?)

then explain how the soundstream works, callbacks, different thread

[2014-02-04 22:57] arturoc opened #17 "graphics chapter"
i think there might be some explanations about ofMesh, ofPolyline, ofPath, ofVboMesh, ofNode

How to go from using ofTranslate/Rotate/Scale to using ofNode. The difference between ofMesh/ofVboMesh

Also going from immediate mode with ofBegin/End to using ofPath, see how ofPath tessellates and stores that so you can create a shape at the beginning of the application and draw it several times...

th

[2014-02-05 15:55] #10 closed, assigned to nobody

[2014-02-09 21:11] OmerShapira opened #20 "Function notation"
So far I've taken the approach of putting the function signature in the head of a specific chapter, like so:
#### Affine Mapping: The `ofMap`
`float ofMap(float value, float inputMin, float inputMax, float outputMin, float outputMax, bool clamp = false)`

adding the default params for better understanding. I don't know if others are doing it, but if this doesn't become a standard, what is the stan

[2014-02-12 07:04] elliotwoods opened #21 "style guide : level 1 headers"
again just to check

what would a level 1 header be? `#`

would it be either:
1. book title
2. chapter title
3. major section of a chapter

[2014-02-12 08:41] bilderbuchi opened #22 "style guide: code section inconsistent"
THe [code section](https://github.com/openframeworks/ofBook/blob/master/styleGuide.md#code) is inconsistent in formulation. It says "please use the github markdown for code", but then goes ahead and tells us _not to use_ github-flavored-markdown for the code sections, but prefer indented code.

To clarify: [GFM-style code blocks](https://help.github.com/articles/github-flavored-markdown#fenced-cod

[2014-02-13 09:32] elliotwoods opened #23 "style guide : annotations for graphics"
should we have a basic 'markup' for annotations (e.g. which should be noted by graphics designers).

for instance

[code]

[2014-02-18 03:07] roymacdonald opened #24 "chapter 1 and 3 overlapping topics"
Hey @ofZach
I can see in chapter 1 that there are several topics that I have to cover, as part of my chapter "project structure and setup", I think that the intro you already have is good enough, just leaving it on the abstract side of things, opposed to my chapter  which is totally pragmatic. I'm already adding to my chapter the following topics that you have listed in yours. So, shall I cover th

[2014-02-18 15:23] mikewesthad opened #25 "Advanced Graphics Polyline"
@arturoc - you used `polyline.moveTo(20,20);`.  Since that's not in the oF release I have, I assume that is a post 0.8.0 function?

[2014-02-18 16:35] #25 closed, assigned to nobody

[2014-02-21 21:32] brannondorsey opened #27 "Editing"
Hi all! I know that you are all moving into first drafts of all chapters and I am interested in being an extra set of eyes/submitting a round of grammar, spelling, and code clarity edits. What is the best way to go about doing this? Forking and submitting pull requests on each chapter? How about annotations, notes, or suggestions? Are we using `` in markdown, or **[bd: obvious comments]** like the

[2014-02-26 22:11] brannondorsey opened #30 "Editing/Author Guide"
Ive drafted an [Editing Guide](https://github.com/brannondorsey/ofBook/blob/master/editorsGuide.md) to help get all of us editors on the same page. I wanted to propose it for discussion before pushing it to the repo and calling it official. If it is generally OK I can push it to the repo and then everyone can make changes as they see fit.

Thoughts?

[2014-03-02 06:02] mikewesthad opened #31 "C++ Basics Draft Feedback"
@jtnimoy I just got a chance to give your draft a close read.  It's definitely great so far - easy to read and entertaining (Back to the Future reference is my favorite).

Your figures that explore the code visually (e.g. figs 11, 18, 21, etc.) will be a huge boon for those readers who are coding for the first time.  Figs 28 + 29 are simple examples that are particularly effective.  They help eluc

[2014-03-02 15:46] kaylalewis opened #32 "Intro suggestion"
The intro and oF mission statement gives a good picture of openFrameworks. However, I’d consider explicitly addressing how the book itself is being written by a group of people, each contributing chapters. This isn’t very common–at least for programming books I’ve seen. I can see where having a different voice in each chapter could pose an inconsistency that could be frowned upon. BUT we can play

[2014-03-04 03:34] mikewesthad opened #35 "Setup and Project Structure Draft Feedback"
I know @Onna-no-hito mentioned focusing on the Animation chapter and beyond, but I wanted to weigh in with some feedback on this chapter since I think it is a *very* important one for beginners.

Disclaimer. @roymacdonald, since much of the draft is missing (as you mention in your last commit), I realize some of the feedback might be things you are already planning on doing.

Anyway, feedback:

I

[2014-03-09 00:59] mikewesthad opened #38 "Chapter Length"
I'm getting ready to start a second pass at my chapter, and one of the biggest things on my mind right now is chapter length.  @jtnimoy's and my chapter drafts definitely blew past the originally proposed chapter length of 15-25.  (I'm still in the process of reading and submitting feedback for other chapters, so maybe there are a couple others that are over 25 pages.)

I tend to be verbose when d

[2014-03-19 16:08] jtnimoy opened #40 "splitting Chapter 2 into smaller chapters"
ok, I took a look at the PDF and I think my chapter will breakdown into 5 smaller chapters. I'm going to try and call them "Intro to C++ part 1", "Intro to C++ Part 2", etc. I hope that is acceptable, realizing we're trying to keep it at group effort. If I'm lucky, I'll be able to nickname each of the 5 parts.

The alternative is to write a succinct little advertisement for the real book reference

[2014-03-20 01:01] mikewesthad opened #41 "Project Eva Chapter Feedback"
@evsc - just got a chance to look over the chapter.  It's a very cool (and massive) project that you’ve covered in a compelling way so far.

*First suggestion:*

I believe the email thread suggested that more project images be added to the end of the chapter, but I would suggest spending a little bit more time on the description of the finished project early on in the chapter.   The project overvi

[2014-03-20 10:05] jtnimoy opened #42 "failing to ./create_ofBook.sh pdf"
i get this output:

[code]

any suggestions?

[2014-03-29 20:19] kaylalewis opened #47 "Animation chapter comments"
Zach,

I went through your chapter thus far and made some minor grammatical/spelling changes, which I didn’t indicate in comments because they were so small. The chapter is coming along nicely, with a good balance of technical elements of animation and relatable examples.

Animation is tough because it gets into physics with all of the time based movement and acceleration, etc. You covered these p

[2014-04-09 22:43] kaylalewis opened #51 "Chapter 3 editing updates"
Roy,

I went through your chapter thus far and changed some sentence structures and wording. I tried to omit words that just add fluff to sentences to make explanations more concise and understandable. The chapter is laid out well and I look forward to reading the rest. I'd think more into unifying list formats to make them more cohesive. Great job!

[2014-04-11 03:00] roymacdonald opened #52 "Help: IDE Screenshots and tips"
Hi everyone,
I need to ask for some help.
I'm writing chapter 3 setup and project structure. In it I explain how to start using OF in each IDE.
What I need to ask you is if you can provide me with a simple screenshot of Eclipse on Linux with the emptyExample opened.
Something like this https://github.com/openframeworks/ofBook/blob/master/03_setup_and_project_structure/images/xCodeScreenShot.jpg
If

[2014-04-17 23:22] #16 closed, assigned to nobody

[2014-04-17 23:30] admsyn opened #54 "Footnotes / sidebars / asides"
So I looked around a bit and I'm not sure this was ever brought up? Maybe I missed the memo :)

I have a few "footnotes" in the sound chapter that are small elaborations on the subject matter, but would be too overkill to include inline. I see @arturoc is [using quote levels](https://github.com/openframeworks/ofBook/blob/master/21_advanced_graphics/chapter.md) for the same thing, is that the way t

[2014-05-14 13:29] daragao opened #58 "pandoc: Error producing PDF from TeX source"
Can't build into PDF, don't know why :(

➜ ofBook git:(master) ✗ ./create_ofBook.sh pdf
pandoc: Error producing PDF from TeX source.
! Use of \@array doesn't match its definition.
\new@ifnextchar ...served@d = #1\def \reserved@a {
                                                  #2}\def \reserved@b {#3}\f...
l.15100 ...4\times 4} = \left[\begin{array}{ccc|c}

Some error occured!

My machine:

➜ o

[2014-05-15 08:13] #58 closed, assigned to bilderbuchi

[2014-05-15 15:19] #42 closed, assigned to nobody

[2014-06-05 22:55] kaylalewis opened #61 "Game Design Chapter"
This chapter is fantastic. It's very strategic and clearly written. I had a few suggestions and minor corrections but there is nothing pressing that I can find.

Some parts used "we" talking at the viewer as though there are multiple writers–which there are–so I'd introduce the chapter with a little background on Code Liberation Foundation, which is a great organization to make people aware of any

[2014-06-10 03:58] mikewesthad opened #63 "Chapter Order"
With the coming release, maybe it's time to renumber some of the chapters.  The thread in issue #12 left the ordering at this (to guide beginners through a core set of fundamentals):

1. Intro
2. C++ Basics
3. Setup and Project Structure
4. Introduction to Graphics
5. OOPs!
6. Animation
7. Advanced Graphics
8. Memory
9. Network
10. Threads

Hardware, image processing, data vis, game design, sound,

[2014-06-10 07:11] #5 closed, assigned to nobody

[2014-06-17 16:56] mikewesthad opened #66 "New Design Branch"
Moving the discussion from the book-length-commits over to here, so no one has to load that mess anymore.  To summarize what's been said:

- @ofZach said that newDesign branch is a work in progress branch to show the new CSS work coming through.  We can eventually merge it into master, and when we do, we can combine the python generation script with the shell script into one generation method for

[2014-08-30 23:34] mikewesthad opened #69 "Pandoc + Listings: Problems with characters inside inline code"
@bilderbuchi or any other latex experts.

Below are two things that break with pandoc and the `--listings` option.  Aside from these, everything seems to be working.  My solutions were to make edits to the markdown versions of the chapters (a total of only 3 edits).  Ideas on better solutions?
1. Exclamation points within an block of inline code:
   - e.g. `cout << "Hello world!";` from git chapte

[2014-09-02 09:11] traw opened #74 "How to create book from latest master?"
After cloning, How can we create book from latest master?
What command do we need to run?

[2014-09-03 00:19] #74 closed, assigned to nobody

[2014-09-06 03:02] mikewesthad opened #77 "Updated Style Guide"
Since the deadline for release is getting closer, I updated the [style guide](https://github.com/openframeworks/ofBook/blob/master/info/styleGuide.md) with my current understanding of what we should be doing.

Code formatting is one of the top things to get consistent at the moment.  Do we have a consensus on the number of characters wide a line should be allowed to be?

[2014-09-06 18:09] bilderbuchi opened #78 "fix some online image references"
the chapter installation_up_4evr_macosx added by @arturoc incorrectly contains links to online images, instead of the local ones, so book generation fails if you don't have internet access.
I tried to fix that, but the script to create the pdf book by @mikewesthad doesn't correctly pick up the link style when creating the `chapter_modified_for_print.md`, so pdf generation still fails as pandoc can

[2014-09-06 18:46] #78 closed, assigned to nobody

[2014-09-10 11:02] ofZach opened #81 "OOPS chapter has a memory leak?"
ping @ruxrux -- I'm pretty sure there's a memory leak here :)   you use new but no delete....

	for (int i =0; i < myBall.size(); i++) {
	    float distance = ofDist(x,y, myBall[i]->x, myBall[i]->y); // a method OF give us to check the distance between two coordinates

	    if (distance < myBall[i]->dim) {
	        myBall.erase(myBall.begin()+i); // we need to use an iterator/ reference to the vec

[2014-09-10 20:09] #69 closed, assigned to nobody

[2014-09-26 06:35] traw opened #86 "OfBook building failed"
Log given below

[code]

[2014-09-30 04:24] #86 closed, assigned to nobody

[2014-10-20 00:27] mikewesthad opened #90 "Building webBook fails on windows"
I see libsass is an added dependency for the webBook now.  If any windows folks try building the book, they might encounter some trouble getting libsass working.  `pip install sass` looks for visual studio for compiling, specifically VS2008 on python 2.7.  After installing VS2008 (and running `vcvarsall.bat` to set up cmd environment), sass breaks during compiling.

I didn't have enough time to fi

[2014-10-20 01:15] #90 closed, assigned to nobody

[2015-01-13 20:35] mikewesthad opened #94 "HTML styled images in Network, Memory in C++, Threads"
@arturoc, you used HTML to control the size of your images in the markdown for your chapters.  Those don't get converted into figs by pandoc and are then missed in the python script, so they don't load in the web book.  Can we switch over to markdown syntax for those chapters?  (If you still want 300px images, you can save out 300px versions of your images, and the CSS will load them without stret

[2015-01-13 20:40] arturoc commented on #94
i had to use html because i was using svgs but yes whatever fixes it is ok. i used svgs thinking that in case we end up printing it or whatever it would be better to have the vectorial info but if it's problematic it's totally ok to transform them into images

[2015-01-14 01:57] mikewesthad commented on #94
Ohhhh, I didn't realize that github markdown doesn't render svgs.  I see.  (I've been using an offline editor that handles svgs.)

Since we have the web book link, I don't think we have to worry about people reading the markdown right now.  I just switched things over to the markdown syntax, so they'd render in the web book.  They are pretty large images (dimension-wise), so they might fit better

[2015-01-14 01:57] #94 closed

[2015-02-14 18:43] MAKIO135 opened #104 "data vis chapter: popData struct does not contain pop variable"
From the data vis chapter, step 4 represent:
[code]

 and `dataPoints` is defined like this:
[code]

And maybe having a link to formatted data in csv for the chapter could be useful, so here it is:
[code]

[2015-02-15 23:57] MAKIO135 opened #106 "game design chapter: content of player.cpp is skipped"
Player::setup, update and draw methods are not described in the chapter
i found the example src in the chapter folder but since the chapter describes game development step by step, maybe it should be included too

[2015-02-20 20:44] arturoc commented on #81
didn't saw this before but i just answered a similar question on the forum regarding this chapter:

http://forum.openframeworks.cc/t/of-oops-tutorial/16882/6

reviewing the chapter afterwards probably it shouldn't use pointers at all since it's kind of a big topic and it's even not very good practice for something like a particle system to have particles as pointers scattered in memory.

also the

[2015-02-20 20:51] ofZach commented on #81
I was just about to post pretty much the same thing :)   I think this chapter and the tutorial are a bit out of date wrt best practices.   I think we generally (and rightly) have encouraged folks to stay away from pointers (through things like default constructors) and I think it's not a good topic for beginners.  I also think it's useful to introduce ofRemove here if possible.

[2015-02-20 21:00] ofZach opened #108 "release task list"
I am making a list here of things I'm spotting that need fixing in the book and from the OF forum post  (http://forum.openframeworks.cc/t/openframeworks-book-review-request/18436).  I will keep editing this issue as I review....

**Overall**

- [ ] root index page needs a design or a redirect (ie, this looks bad! http://openframeworks.cc/ofBook/)
- [x] chapter standardization (capitalization, etc)

[2015-02-20 21:07] bakercp commented on #108
Who is in charge of the OOPs chapter?  I could help update it and have a lot of intro-particle system code from my intro courses (https://github.com/bakercp/ExperimentalMedia2014/tree/gh-pages/examples/Week11).

[2015-02-20 21:09] ofZach commented on #108
@ruxrux is responsible for the OOOPs chapter, I'm sure help there would be great !!

[2015-02-20 22:14] gerbyzation opened #109 "link to unabridged version is dead"
at the end of the chapter 'language basics' the unabridged version is mentioned, but the link gives a 404

[2015-02-20 22:15] ofZach commented on #109
fixed ! thanks...

[2015-02-20 22:15] #109 closed

[2015-02-21 01:27] roymacdonald commented on #108
Hey Zach, the second half of my chapter is somehow related to the oops chapter. Sort of an oops conceptual explanation thing. Should we move it into another chapter, put it into the oops chapter or leave it in mine? Did you add anything to it?

it was pointed "explain differences between platforms and IDE's, pros and cons, how to manage dependencies". This is somehow related to my chapter, as I so

[2015-02-21 19:21] bilderbuchi commented on #22
closing this as it's a minor issue by now.

[2015-02-21 19:21] #22 closed

[2015-02-24 17:43] ruxrux commented on #81
hey guys,

so sorry but I somehow missed this msgs.
I'll give the ooops chapter a much needed revision and cuts this week!
thanks for the feedback

.r

On Fri Feb 20 2015 at 3:51:39 PM ofZach <notifications@github.com> wrote:

[2015-03-07 15:20] gerbyzation opened #110 "Wrong variable name in creating brush with polylines"
There is a small mixup of variable names in the Graphics chapter about creating a brush with polylines:
"Initialize minDistance and currentedAddingPoints in setup():
`minDistance = 10;
currentlyAddingPoints = false;`"

should be:
`minDistance = 10;
leftMouseButtonPressed = false;`

[2015-03-07 18:10] mikewesthad commented on #110
@gerbyzation thanks for catching that! I'll fix it tonight.

[2015-03-09 03:09] #110 closed

[2015-03-14 23:45] roymacdonald commented on #47
Hey @ofZach I just read the animations chapters. The only comment I would make is that in the part where you explain trigonometry you use an image that is almost the same as the maths/trigonometryExample. I think it is a good idea to rely on the OF included examples in the book as much as it is possible. Also, you mention briefly the Lissajous figures. The example maths/trigonometricMotionExample

[2015-03-22 19:27] lewislepton opened #116 "idea for chapter - talking between classes"
one thing i think would be good, is a chapter on explaining how you can have classes talk to each other. i think its called pointers, i tired, so please excuse.

but would be good to explain to folks and example on how you can send data from one class to another, which then talks to the main application.

just things like these are so valuable to know, especially when projects get big

[2015-03-23 19:59] roymacdonald commented on #108
@ofZach do you plan to do anything with the second half of my chapter? If yes can you share it with me please? or is there anything I can help with it? Look at my previous post in this issue.
Best!

[2015-03-23 20:09] bilderbuchi commented on #108
tbh, I don't really get the title "Ooops! = Object Oriented Programming + Classes". maybe something less...playful... would be appropriate?

[2015-03-24 14:08] brannondorsey commented on #108
The Memory chapter still needs a bit of love. One more pass should do it justice. https://github.com/openframeworks/ofBook/pull/55.

[2015-03-24 15:27] ruxrux commented on #108
@cristoph happy to change if everyone feels that way but the point is
exactly to be playful == code should be fun!

On Tue, Mar 24, 2015 at 10:08 AM Brannon Dorsey <notifications@github.com>
wrote:

[2015-03-24 18:52] tpltnt commented on #52
@roymacdonald shouldn't this issue be closed given the contribution of @bilderbuchi ?

[2015-03-24 20:10] roymacdonald commented on #52
Hey @tpltnt,  thanks for bringing this forwards.
I was just checking and at some point @ofZach removed the placeholder for this screenshot, as well as the part which mentioned eclipse as another possible IDE. I can't recall if this was because eclipse is not officially supported other than for android development or because of something else.
I'll check this a more thoroughly and see what's going

[2015-03-24 20:10] #52 closed

[2015-03-28 16:04] mattfelsen opened #121 "TOC not showing up on website"
Hey @ofZach, did you ever get a chance to look into why the new TOC doesn't appear on openframworks.cc? Let me know if I can help troubleshoot.

http://openframeworks.cc/ofBook/chapters/toc.html

Curious if anyone else is having trouble when running `python createWebBook.py` since last weekend. :fearful:

[2015-03-28 16:29] ofZach commented on #121
it's something having to do with the pandoc call to generate the TOC page, it's fine on OSX but it's not happy on the server -- I see "pandoc: Could not find data file templates/default.html"

it might be better to not use pandoc (which here seems only to just be adding headers and footers) and to do this by hand using the template files.  I'll take a look tomorrow.

[2015-03-28 19:02] mattfelsen commented on #121
That makes sense, but is still odd...I tried adding --template=createWebBookTemplate/default.html to the pandoc call but that didn't seem to fix it.

There's some stuff that gets parsed by pandoc in default.html that I didn't want to duplicate in a second, static include file, but I guess that's an easy solution to this. Whenever you take a look, let me know if that seems right and I can update th

[2015-03-28 19:46] #21 closed

[2015-03-28 19:46] #23 closed

[2015-03-28 19:46] #77 closed

[2015-03-28 19:52] mikewesthad commented on #121
Which OSes does the script have trouble with - is it just linux?  It's running fine on windows for me.

[2015-04-09 10:54] tpltnt commented on #35
Hey @roymacdonald,
is this chapter already updated? I am asking because i am currently work through it to do fixes where appropriate.

[2015-04-09 14:58] roymacdonald commented on #35
Hi @tpltnt , yes. it is ready. At some point @ofZach took out the second half of it as it was a bit more about oop with the idea of putting it back at some point, either in this same chapter or another one.
Yet, so far it is ready for the project setup. Just fix whatever you consider appropriate.
Many thanks
best

[2015-04-16 12:06] #35 closed

[2015-04-16 15:17] tpltnt commented on #51
@roymacdonald is this still an issue or can it be closed?

[2015-04-16 15:21] tpltnt commented on #12
Is this still an issue given that there is a "order.txt" file in the "chapters" directory? If there isn't any veto, this issue should be closed.

[2015-04-16 15:22] tpltnt commented on #63
Is this still an issue given that issue #12 seems to be settled ? If there isn't any veto, this issue should be closed.

[2015-04-16 15:25] tpltnt commented on #31
@jtnimoy did you push the changes @ofZach mentioned? If so this issue should be closed.

[2015-04-16 15:27] tpltnt commented on #32
Do you @kaylalewis @Onna-no-hito and @bilderbuchi think this issue is addressed properly in the foreword? If no, please leave notes. If yes, please close this issue.

[2015-04-16 15:28] tpltnt commented on #9
Has this been done? If so this issue should be closed.

[2015-04-16 15:31] tpltnt commented on #7
Do you people think this is still an issue? If not I suggest to close this issue. @Onna-no-hito could you do that?

[2015-04-16 15:35] tpltnt commented on #20
The info/editorsGuide.md touches on this i believe. Do you think there is more need for discussion or can this issue be closed?

[2015-04-16 15:47] tpltnt commented on #81
@ruxrux did you revise the chapter? If so this issue should be closed.

[2015-04-16 16:29] JGL commented on #9
Yup.

Joel Gethin Lewis
me@joelgethinlewis.com
@joelgethinlewis
+44 7932 792 076

[2015-04-16 18:45] tpltnt commented on #9
Please close this issue @openframeworks/ofBook . Thank you!

[2015-04-16 18:46] tpltnt commented on #9
@ofZach please close this issue. Thank you!

[2015-04-16 19:14] bilderbuchi commented on #12
I think this can safely be closed, chapter order is pretty mature already.

[2015-04-16 19:14] #12 closed

[2015-04-16 19:15] bilderbuchi commented on #63
closing this, see #12

[2015-04-16 19:15] #63 closed

[2015-04-16 19:18] bilderbuchi commented on #32
as this issue stems from a time when there wasn't even a foreword, I think this can be safely closed

[2015-04-16 19:18] #32 closed

[2015-04-16 19:19] bilderbuchi commented on #20
if there is a need for more discussion, we can always reopen it. :-)

[2015-04-16 19:19] #20 closed

[2015-04-16 19:19] #9 closed

[2015-04-16 21:04] roymacdonald commented on #51
I'll close it. Thanks for bringing it up.

[2015-04-16 21:04] #51 closed

[2015-04-16 23:03] #38 closed

[2015-04-17 22:30] tpltnt commented on #30
Is this issue still being worked on? If everything is resolved it should be closed.

[2015-04-19 01:36] #30 closed

[2015-04-19 06:34] tpltnt commented on #11
Is this still an issue to be worked on? If not, please close it.

[2015-04-19 12:38] #11 closed

[2015-04-21 18:39] tpltnt commented on #17
This issue seems to be resolved since the discussion went quiet and the "introduction to graphics" as well as the "advanced graphics" chapters are in place.

[2015-04-21 18:39] #17 closed

[2015-04-22 12:52] tpltnt opened #132 "fix merge fuckup in PR#55"
I messed up merging #55 , so this ticket is meant to keep track of the cleanup process.

[2015-04-22 13:28] tpltnt commented on #6
Is this issue still at hand or can it be closed?

[2015-04-23 19:13] tpltnt commented on #106
This was also noted in #107 and should be addressed.

[2015-04-24 10:08] tpltnt opened #134 ""oF" or "OF""
Hello ofBook people,
currently there are two abbreviations floating around for "openFrameworks", namely "oF" and "OF". I personally prefer "oF" since it mimics the name **o**pen**F**rameworks. "OF" on the other hand seems to mimic the icon. Which one should be settled on for this book?

[2015-04-24 13:02] bilderbuchi commented on #134
@ofZach I think arrived at some conclusion already.
Personally, I prefer oF for the consistency reason you cite.

[2015-04-24 13:05] mikewesthad commented on #134
Ditto to "oF" as opposed to "OF," though I prefer the unabbreviated "openFrameworks" to both for the book

[2015-04-24 13:12] ofZach commented on #134
personally "oF" makes my ocd go crazy, but I think the community has pretty widely adopted this over "OF" so I've come to terms with it.

[2015-04-24 14:42] bakercp commented on #134
And then of course there's ofxAddons and ofSketch just to confuse things a little.  I understand the allergic oCD reaction to "oF" -- it kind of reminds me of the early processing / aka p5 days discussion -- but I also think "oF" is more distinctive (the appearance of intentionality/design) than "OF", which (in addition to the other reasons cited above) makes me throw a vote in the "oF" direction.

[2015-04-24 14:44] elliotwoods commented on #134
which is the one implemented by the oF gang sign?

On 24 April 2015 at 16:42, Christopher Baker <notifications@github.com>
wrote:

--
--
Elliot Woods
elliot <elliot@kimchiandchips.com>@KimchiAndChips.com
<http://www.kimchiandchips.com/>

UK : +447944977628
KR : +821034458086

[2015-04-24 14:45] JGL commented on #134
oF for sure!

x

Joel Gethin Lewis
me@joelgethinlewis.com
@joelgethinlewis
+44 7932 792 076

[2015-04-24 15:52] #81 closed

[2015-04-25 19:14] bilderbuchi commented on #134
+1, everytime I see some `ofxiOSC***` name, I think "oh, some OSC stuff", when in fact it's some iOS thing starting with "C" ^^
However, we explicitly declare our code style as derived from the [Qt style](https://wiki.qt.io/Qt_Coding_Style), and that one (now) contains a clause for this (which we don't have in the OF style spec yet):

[2015-04-25 19:15] bilderbuchi commented on #134
closed by #135

[2015-04-25 19:15] #134 closed

[2015-04-25 20:36] lewislepton opened #136 "take out the debug builds from repo"
just to say that the download is big, on looking it seems that there are debug builds of the examples. would be best to take these out ;)

[2015-04-25 20:47] bilderbuchi commented on #136
+1, any compiled code in the repo shouldn't be in there, imo.

[2015-04-25 23:18] mikewesthad commented on #136
I second that.

But the debug builds aren't the reason the download is big.  The C++ Basics  and Game Design chapters seem to be the largest.  E.g. there's a >11mb pdf in the C++ folder.  @jtnimoy & @phoenixperry - would you mind taking a look to see if we can trim any files?

[2015-05-01 16:16] tpltnt commented on #24
@roymacdonald is this still an issue after one year? If not this issue should be closed.

[2015-05-01 16:33] tpltnt commented on #6
I went through the networking chapter and also improved its OSC section (see #138). I am going to give this issue a moratorium until 2015-06-01. If nobody speaks up, i am going to close this issue then.

[2015-05-01 16:46] tpltnt commented on #47
Does this issue still need attention, given that it is over a year old and this moved on? If not this issue should be closed.

[2015-05-01 16:58] tpltnt commented on #40
Is this issue still relevant given that one year has passed and things moved along? Please speak up until 2015-06-01 or otherwise i am going to close this issue.

[2015-05-01 17:01] ofZach commented on #40
I think this issue is resolved....

[2015-05-01 20:36] roymacdonald commented on #40
+1

*Roy Macdonald*
+569 8248 8478

On Fri, May 1, 2015 at 1:01 PM, ofZach <notifications@github.com> wrote:

[2015-05-01 20:36] #24 closed

[2015-05-01 20:38] #40 closed

[2015-05-04 06:18] bilderbuchi commented on #104
@tegacodes could you take a look if this is still relevant?

[2015-05-04 13:57] mattholl opened #140 "create a pdf not working on osx"
Running the command:

`python createPDFBook.py`

gives the following error:

    Successful building of ../output/ofBook.tex
    pandoc: xelatex not found. xelatex is needed for pdf output.
    Error in building of ../output/ofBook.pdf

I'm on OS X 10.10, I've installed the dependencies according the Readme with brew - mactex and basictex appeared to install fine.

I can't find xelatex on homebrew

[2015-05-04 19:04] bilderbuchi commented on #140
Unfortunately, [the current focus](https://github.com/openframeworks/ofBook/pull/105#issuecomment-74403968) is not on the pdf version, so that is broken atm I think. however, maybe @ofZach @mikewesthad can shed some light on how to get xelatex on macos?

[2015-05-04 19:27] mikewesthad commented on #140
Mmm, I'm not on OSX, and like @bilderbuchi said, the PDF generation is probably broken currently, but what happens if you open up terminal and try:
[code]
If that throws an error, then something might not have been installed properly or xelatex is not in your path variable.

[2015-05-05 01:13] mikewesthad commented on #140
I ended up having a mac in front of me (OSX 10.10).  Running through the instructions as listed in the readme worked for getting latex installed.  As expected, the PDF building will error out.  But it didn't (and shouldn't) be erroring out on `xelatex not found`.  I'd sticking with the guess that something went screwy in the installation process for you, or that xelatex didn't get added to termina

[2015-05-05 01:14] #140 closed

[2015-05-05 14:07] tpltnt commented on #121
I can create the webbook (incl. TOC) just fine on Debian as of today.

[2015-05-05 14:13] tpltnt commented on #54
Is this an issue that still needs attention? Given that the core issue seems to be resolved and that this thread has been quiet for a few month, i would like to close it on 2015-06-05. Please speak up if you think that is issue still needs eyeballs and action.

[2015-05-05 15:28] ofZach commented on #121
there is something wrong on the server where the OF book is running so this TOC doesn't get made, I will take another look.

[2015-05-05 16:10] mikewesthad commented on #108
One more thing for the overall list - I think it would be good to have xcode, codeblocks and visual studio project files for each chapter's code (or ofSketch files if applicable).  Project generator from master should be useful for that, no?

[2015-05-05 18:13] #54 closed

[2015-05-05 18:25] mikewesthad commented on #108
Yeah I'd agree with that.  I didn't intend it to be suggested as a release blocker.  I haven't been thinking of this list as a collection of release blockers (since we've got a new chapter as one of the items), more as a task list.

[2015-05-11 12:39] tpltnt commented on #136
:+1:

[2015-05-15 18:07] mikewesthad commented on #140
@mattholl, there's a "working" [branch](https://github.com/openframeworks/ofBook/tree/pdf-generation-fix) which will now build PDFs.  Note: some of the chapters (math, sound and memory) are removed from the build pipeline until they can be fixed.  Also, no guarantees that the formatting is legible throughout

[2015-05-15 18:15] mikewesthad opened #141 "PDF Generation Issues"
I just pushed a new branch [pdf-generation-fix](https://github.com/openframeworks/ofBook/tree/pdf-generation-fix) for getting the PDF generation limping along.  It's working* again.

I didn't have time to sort out the issues listed in this commit (a17223874345bedae4bbbb47cdfefe008e73984a), so the memory, sound and math are temporarily cut from the PDF pipeline:
- ~~Sound chapter: uses approximatel

[2015-05-16 12:29] mikewesthad commented on #141
Nevermind.  After pulling the chapters apart and debugging, the only needed change was converting the SVGs in the memory chapter to PDFs.  PDF building is [working](https://github.com/openframeworks/ofBook/releases/tag/0.4.0).

[2015-05-16 18:49] tpltnt commented on #141
Cool, thank you for taking care of the pdf generation.

[2015-05-17 10:54] bilderbuchi commented on #141
hey @mikewesthad. I just checked the generated pdf, and the git chapter is missing from the generated pdf.

[2015-05-17 10:55] bilderbuchi commented on #141
also, will you merge back into master when the pdf generation has been fixed completely?

[2015-05-17 12:24] mikewesthad commented on #141
@bilderbuchi, sorry I didn't catch that.  It's in the PDF (p.386), but it didn't get picked up as it's own chapter.  (C++11 got merged in there too.)  I'm guessing there is some improperly formatted markdown in the C++11 chapter.  I'll go investigate now.

As for merging, yeah (assuming that @arturoc signs off on my conversion of his svgs into pdfs).  I also want to double checking that merging th

[2015-05-17 13:01] mikewesthad commented on #141
Yep - inconsistent markdown in ios & c++11 chapters caused chapters to get folded together.  Fixed and release updated

[2015-05-17 13:08] bilderbuchi commented on #141
Great, thanks!

[2015-05-17 13:08] #141 closed

[2015-05-21 07:59] #31 closed

[2015-05-21 09:58] tpltnt commented on #136
@jtnimoy given [commit d827bd7fb8fe0fd591317656920346664c25c60e](https://github.com/openframeworks/ofBook/commit/d827bd7fb8fe0fd591317656920346664c25c60e) I assume i can delete the two pdf files from the c++ basics directors?

[2015-06-01 07:10] tpltnt commented on #6
Nobody spoke up, closing the issue according

[2015-06-01 07:10] #6 closed

[2015-06-01 07:24] tpltnt commented on #7
This thread seems to be stale since over a year. It also does not have an actionable outcome (anymore). Hence I close it.

[2015-06-01 07:24] #7 closed

[2015-06-01 07:28] tpltnt commented on #121
@ofZach did you find anything?

[2015-06-10 08:47] tpltnt commented on #61
I just merged your helpful contributions to the game design chapter. Thank you again.
Since I can not derive any further action from this ticket I am closing it. If i missed something, please open a new ticket.

[2015-06-10 08:47] #61 closed

[2015-06-20 07:58] tpltnt commented on #47
I am closing this issue because no one spoke up to keep it open and there is an updating pull request (#149) pending.

[2015-06-20 07:58] #47 closed

[2015-08-13 21:18] whitedryas opened #151 "typo on chapters/animation.html#background"
If we are 25 percent of the way, it looks like
  ((1-0.75) * A) + (0.25 * B)
which is 75% of A + 25% of B.

=============
Should'nt it be ?
  ((1-0.25) * A) + (0.25 * B)

[2015-08-13 21:40] tpltnt commented on #151
Thank you for spotting this error @whitedryas. It is already fixed in pull request #149 i guess. Can you take a look there and tell if you think it is addressed appropriately. If not please let me know.

[2015-08-14 18:30] whitedryas commented on #151
I think the issue was properly addressed. Thanking you for your answer.

2015-08-13 23:40 GMT+02:00 tpltnt <notifications@github.com>:

[2015-08-14 20:48] tpltnt commented on #151
Ok, i close this issue then. Please report any other weird things you encouter or better send a pull request.

[2015-08-14 20:48] #151 closed

[2015-09-09 13:18] richelbilderbeek commented on #58
I had the same error. `sudo apt-get install texlive` for pandoc 1.12.2.1 worked fine, under Xubuntu 14.04.3 LTS .

[2015-09-22 02:49] bakercp opened #155 ""..." in sound example code blocks can be confusing for new users."
Hey @admsyn hope you're well.  I've got a few students enjoying your sound chapter and as new-ish users translating the abbreviated examples into usable code is proving a bit difficult (the ...) is tripping them up with the inline implementation.  I fixed a few stray typos, which will help a little, but I'm wondering if you would be opposed to being a bit more verbose -- or adding full code exampl

[2015-09-22 02:53] admsyn commented on #155
Hey @bakercp. Sure, I'll look into this now. I'm pretty sure I did that specifically because it was mentioned in the style guide but it may have been a misreading :)

[2015-09-22 02:54] bakercp commented on #155
Ahhh ... style guide ...

[2015-09-22 02:59] bakercp commented on #155
I just took a look at the style guide but couldn't find anything that seemed relevant.  Personally I prefer your terse way of doing it.  I think the solution would be to add full code to the `code` folder in the chapter and link to the raw code near the terse versions.

[2015-09-22 02:59] admsyn commented on #155
[This bit specifically](https://github.com/openframeworks/ofBook/blob/master/info/editorsGuide.md#variables-functions-and-functions-with-arguments), but I think in this case we can override it by popular demand :)

[2015-09-22 03:02] bakercp commented on #155
I think that refers more to in-line (or in-flow) code, whereas I'm talking more about the indented code blocks.  I'd probably just defer to my above comment ... just make a note that the blocks are code fragments to highlight the important bits and then provide a link to the full source.  If you need help getting full source together, I'm happy to.  We're using some of these examples as jumping of

[2015-09-22 03:04] bakercp commented on #155
Sorry, just to be clear, I'm talking about code blocks like this:

[code]

[2015-09-22 03:07] admsyn commented on #155
Ah gotcha, how about I rework those to be valid C++, more like this?

[code]

[2015-09-22 03:08] bakercp commented on #155
Yeah, that would be an nice improvement!

[2015-09-22 03:32] #155 closed

[2015-10-19 01:39] elburz opened #158 "Setup() not updated for vector in Ooops! chapter "Make objects on the fly""
Under the section: Make Objects on the fly

It is a little confusing whether you should be starting a new ofApp.cpp or continuing with your existing file. The text would have lead you to make the changes to the ofApp.cpp you made in the previous section, but at the moment the ofApp.cpp setup() function never gets updated to address the new use of the myBall vector. Fix could be as simple and menti

[2015-10-19 06:39] bilderbuchi commented on #158
ping @ruxrux

[2015-10-19 15:42] elburz opened #159 "setup() arguments not addressed in "Quick intro to polymorphism""
In the Ooops! chapter, section: Quick intro to polymorphism

We go though removing the arguments in the Ball::setup() but it isn't mentioned that you'd need to update the ofApp.cpp code in the mouseDragged() function, as the tempBall.setup() currently feeds in the three arguments.

Not sure if it makes more sense to add a note about updating the mouseDragged section to remove the arguments, or if

[2015-10-19 20:26] bilderbuchi commented on #159
ping @ruxrux

[2015-10-21 13:38] bakercp opened #160 "New acronyms should be spelled out the first time (and potentially linked to wikipedia, etc)"
New users may not know about more advanced concepts / acronyms like "VBO" http://openframeworks.cc/ofBook/chapters/advanced_graphics.html.

[2015-10-21 16:18] elburz opened #161 "Missing () in code example in Animation chapter"
In the Animation chapter, section: Simple examples

In the first code example:

[code]
```ofGetHeight/2``` should be ```ofGetHeight()/2```

[2015-11-01 11:07] arturoc opened #164 "animation chapter - weird time based animation example"
At the end of the introduction it explains briefly time based animation:

[code]

the example is kind of strange since ofGetFrameRate is an aproximation and usually filtered so it won't correspond with the real timing and can result in stuttery animation. wouldn't it be better to use ofGetTimeLastFrame()?

[code]

[2015-11-01 12:15] ofZach commented on #164
yeah that makes sense...   In practice I haven't seen this jerky animation, but it makes sense to use ofGetTimeLastFrame instead of ofGetFrameRate()....

[2015-11-01 18:17] tpltnt commented on #164
@arturoc @ofZach i updated the docs

[2015-11-02 21:26] tpltnt commented on #161
Good catch! I changed it and it is currently in review by @ofZach (as he checks the whole chapter).

[2015-11-09 14:40] mattfelsen commented on #164
Small note, the function is `ofGetLastFrameTime()` rather than `ofGetTimeLastFrame()`. @tpltnt can you update your PR?

[2015-11-22 18:24] tpltnt commented on #164
@mattfelsen this should already be fixed see https://github.com/tpltnt/ofBook/commit/e8812967184fa4be3ab012dca661700c6d80dba6

[2015-11-22 18:25] mattfelsen commented on #164
Ah, sorry I missed it, thanks :smile:

[2015-11-22 18:27] tpltnt commented on #160
@bakercp you are right and I am doing it during my reviews. This is already been done for the first 6 chapters I suppose.

[2015-11-22 19:06] tpltnt commented on #158
@elburz can you check if my pull request addresses your issue appropriately?

[2015-11-22 19:32] tpltnt commented on #159
@elburz can you check #166 as well? Thank you.

[2015-11-23 01:18] bakercp commented on #160
+1

[2015-11-23 13:52] #161 closed

[2015-11-23 15:18] #159 closed

[2015-11-23 15:32] bilderbuchi commented on #158
@elburz @tpltnt closed by #165?

[2015-11-23 15:33] elburz commented on #158
yes

[2015-11-23 15:34] #158 closed

[2015-11-23 15:34] bilderbuchi commented on #158
thanks!

[2015-11-23 16:59] ruxrux commented on #158
thanks you guys for this!
I've been travelling deep on the final stages of a project and only now saw
this!
appreciate your help!!

On Mon, Nov 23, 2015 at 10:34 AM Christoph Buchner <notifications@github.com>
wrote:

[2015-12-20 18:01] AnasGhrab opened #170 "During building : from tex to pdf => l.216 \tightlist"
Hi,

I got this error during the building and generating the pdf :

[code]

[2015-12-20 18:10] bilderbuchi commented on #170
this kind of error previously meant that someplace above that statement, there was some illegal latex code created, possibly by some bad markdown in one of the chapters. as a starting point, check ofBook.tex if something jumps at you.

[2015-12-21 13:19] mikewesthad commented on #170
I believe newer versions of latex have added a [definition](https://github.com/jgm/pandoc/issues/2485) for the tightlist command.  I updated the latex template we are using to include that definition (181228a3665b2829519f1982bd89fa5015cb3147).  Removing that build error reveals another problem, but I didn't have a chance to debug:

[code]

[2015-12-21 14:38] mikewesthad commented on #170
Okay, it should be fixed now.

Looks like this merge (c71a9190564da77341251df1d25c25058de37210) re-added curly quotes into the game design chapter.  Re issue #69, I removed them again (7e917c29e6669ae63ead69b8e7eef61cde498f3c).

I also ran into issue #58 where `perspective_transform.jpg` from the project eva chapter is buggy.  I re-saved it with the same quality settings and everything works fine

[2015-12-21 14:38] #170 closed

[2015-12-21 14:55] bilderbuchi commented on #170
nice error hunting, thanks!

[2016-02-18 17:01] racarate opened #174 "Possible mistake in "Advanced Graphics" chapter"
So, I think this is incorrect:

[code]
If the parameters to ofRect were instead (0, 0, 20, 20) it would be drawn rotated around its top left corner.  As it is, the square is rotated about a point 20 units up and 20 units left of its top-left corner.

Also, minor nitpick but "I can't do use translate/rotate/scale" sounds weird!

[2016-02-19 08:29] arturoc commented on #174
you are correct. that kind of proves the point of that part though :) translate/rotate/scale are hard. and yes the sentence should be "I can't use translate/rotate/scale"

can you send a PR?

thanks!

[2016-02-21 01:38] ofZach opened #176 "fix missing images"
in @golanlevin's chapter
http://openframeworks.cc/ofBook/chapters/image_processing_computer_vision.html

and at the end of:
http://openframeworks.cc/ofBook/chapters/generativemesh.html

this might be markdown related...

[2016-02-21 01:49] #121 closed

[2016-02-21 01:49] #66 closed

[2016-02-21 01:50] #8 closed

[2016-02-21 01:50] ofZach commented on #13
done!  closing...  (sorry this took so long!)

[2016-02-21 01:50] #13 closed

[2016-02-21 01:51] ofZach commented on #108
I'm closing this issue since we've somewhat released now -- going to focus on a new list with changes to the design / editing, etc.

[2016-02-21 01:51] #108 closed

[2016-02-21 01:52] #136 closed

[2016-02-21 01:52] #164 closed

[2016-02-21 01:52] #41 closed

[2016-02-21 01:52] #27 closed

[2016-02-21 02:14] frauzufall opened #177 "addons section referring to non existent examples/addons folder"
https://github.com/openframeworks/ofBook/blob/master/chapters/setup_and_project_structure/chapter.md#addons

This refers to examples/addons which is no longer existent in the 0.10 OF branch.

[2016-02-21 12:57] ofZach opened #178 "obvious edits to make"
via @sarahgp

[code]

[2016-02-21 17:22] sarahgp commented on #178
And more

[code]

That's it!

[2016-02-21 17:48] mikewesthad commented on #176
Generative Mesh - fixed.  Those images were also hyperlinks, which pandoc turns them into `<p><a><img></a></p>`.  The python code only looks for `<div class="figure"></div>` to find images and update their src to point to the proper location.

@golanlevin - there are similar issues in the cv chapter.  An image without a line break between it and the next line of text turns into `<p><img><em></em><

[2016-02-21 21:22] tpltnt commented on #177
@frauzufall  Did I miss any examples in #182?

[2016-02-24 17:59] bakercp opened #184 "ofBook Translation: Korean"
Hi all,

This issue is a place to discuss and organize a Korean translation.  If you are interested or are already working on a Korean translation, please respond in below.

ping @hyok8707 @arturoc

[2016-02-24 18:08] laserpilot commented on #184
Not Korean - but just adding a note here that someone has done a translation of the installationup4evr chapter into Japanese: https://github.com/hideyukisaito/Installation_Up_4evr - if that is another language to be tackled eventually

[2016-02-24 18:09] bakercp opened #185 "ofBook Translation: Japanese"
Hi all,

This issue is a place to discuss and organize a Japanese translation. If you are interested or are already working on a Japanese translation, please respond in below.

ping @laserpilot

[2016-02-24 18:10] bakercp commented on #185
From @laserpilot

... but just adding a note here that someone has done a translation of the installationup4evr chapter into Japanese: https://github.com/hideyukisaito/Installation_Up_4evr - if that is another language to be tackled eventually @hideyukisaito

[2016-02-24 18:11] arturoc commented on #184
yes i was planning to have an issue for localization in general , the issue is mostly to track the technical issues and sync with everyone that is going to work both in the korean and japanese versions.

[2016-02-24 18:13] arturoc opened #186 "ofBook localization"
ping @icq4ever @tado @hyok8707

We'll leave the translations in this repo, the format is the same as the current web, just make a copy of each markdown and add the same suffix we are using there, .ko for korean and .ja for japanese

I'll look into adding nikola here too but you can already start working on the translations if you want

[2016-02-24 18:14] bakercp commented on #186
https://github.com/openframeworks/ofBook/issues/185 https://github.com/openframeworks/ofBook/issues/186

[2016-02-24 18:16] arturoc commented on #186
also cc @craftweak and @KavinHan who have started translating the web to chinese in case they are interested too

[2016-02-24 20:01] tpltnt commented on #184
The following chapters are pretty stable and a good start for the translation efforts:
- of_philosophy
- cplusplus_basics
- setup_and_project_structure
- intro_to_graphics
- OOPs!
- animation

[2016-02-24 20:01] tpltnt commented on #185
The following chapters are pretty stable and a good start for the translation efforts:
- of_philosophy
- cplusplus_basics
- setup_and_project_structure
- intro_to_graphics
- OOPs!
- animation

[2016-02-24 20:02] tpltnt commented on #186
The following chapters are pretty stable and a good start for the translation efforts:
- of_philosophy
- cplusplus_basics
- setup_and_project_structure
- intro_to_graphics
- OOPs!
- animation

[2016-02-24 22:43] tado commented on #186
Thanks!

On Thu, Feb 25, 2016 at 5:02 AM, tpltnt <notifications@github.com> wrote:

--
田所 淳 (たどころ あつし)

[2016-02-24 23:04] tado commented on #185
@bakercp @tpltnt Thanks! I'm interested in translating ofBook into Japanese. I will do it with oF community people in Japan!

[2016-02-24 23:49] mikewesthad commented on #186
@tpltnt thanks for adding that list.  I started trying to put a list together earlier then got bogged down with other things.  Those chapters seem like the right place to focus attention if any translation is happening.

[2016-03-04 06:29] hideyukisaito commented on #185
@bakercp My translation of the Installation_Up_4evr is almost done, so I'll be happy to merge it into ofBook.

[2016-03-04 08:51] arturoc commented on #185
@hideyukisaito can you send a pul request?

@tado perhaps you can coordinate the japanese translation? i'll give you permissions in this repo so you can review and merge pull requests for japanese.

[2016-03-04 08:57] tado commented on #185
@arturoc @hideyukisaito Thanks!

I' will check @hideyukisaito 's pull request, and marge it. And I will coordinate Japanese translations from this.

[2016-03-04 08:58] tado commented on #185
@hideyukisaito
ありがとうございます! リポジトリにPull requestを送ってみていただけますか? それを確認して問題なさそうだったら、Margeします。よろしくお願いします!

[2016-03-04 17:16] icq4ever commented on #184
I've been translating some of articles in old tutorial section in old ofSite repo.
some of ofBook's sections are finished if they're not new.

[2016-03-06 08:57] hideyukisaito commented on #185
@tado 了解です、"almost done" なのでもう少々お待ちを。。

[2016-03-08 12:32] awaywiththespoons opened #190 "ard and myarduino"
it seems like there are inconsistencies in the naming of the ofArduino object. Sometimes it is ard. and sometimes it is myArduino. This is confusing for a beginner!  (⊙_☉)

[2016-03-08 12:39] awaywiththespoons opened #191 "included full code too"
I know it's a book, but it would be really useful to access whole sections of code so that you can work through the examples, and then check your work.

I am learning of after a few years of playing with processing, and it's a big jump mainly because of the organization of the code (errr....and all the rest!). If there was a way of seeing how the snippets fit together I think it would make the lea

[2016-03-08 13:02] ofZach commented on #191
some chapters have code (see for example https://github.com/openframeworks/ofBook/tree/master/chapters/intro_to_graphics/code) but not all do  -- maybe you can file an issue for a specific chapter (like hardware) about what you'd like to see with regards to code?

also, I know @firmread is working on getting all the code examples in one place and making sure they are up to date -- will ping you wh

[2016-03-08 13:03] ofZach commented on #190
ping @caitlinmorris @pierrep

[2016-03-08 13:06] ofZach commented on #190
(thanks for the feedback it's really helpful!)

[2016-03-08 13:06] tpltnt commented on #190
I will take a look if Caitlin and Pierre don't respond within 3 weeks. Thank you @awaywiththespoons for pointing it out.

[2016-03-08 13:30] pierrep commented on #190
I'm going to check this out. I think there were some other issues that needed fixing, will have a look.

[2016-03-08 14:10] awaywiththespoons commented on #191
Thanks. I am not very experienced using github (hence not filing an issue in the right place!)

I found examples in -communication- folder in the OF package which helped me get it working (yay!). But yes, being including or referring to the full code in the book tutorials would be super helpful :)

[2016-03-09 08:15] elliotwoods commented on #191
did we get anywhere with having embeddable ofSketch in documentation pages?

On Tue, Mar 8, 2016 at 11:10 PM Becca Rose <notifications@github.com> wrote:

[2016-03-11 04:31] mikewesthad commented on #191
Last time I talked with @brannondorsey that sounded like something that _could_ be on the ofSketch roadmap, but that there wasn't a specific timeline and might not happen for a bit.  I'd love for that to exist.  I'm a big fan of the p5js documentation pages that have embedded examples.

Pinging @bakercp & @brannondorsey

[2016-03-11 04:50] bakercp commented on #191
We had a mini conference about the future of ofSketch and it seemed pretty clear that refining it's target to web / embeddable / sharing was its real strength and its future (if it ends up having one long term).  The fundamental problem was that from an IDE perspective it tries to be both suuuper simple and openFrameworks get suuuuper complex really quickly ... then then just when you needed an ad

[2016-03-11 04:52] bakercp commented on #191
Wow.  there is this I guess https://github.com/kripken/clangor.

[2016-03-11 04:57] firmread commented on #191
@awaywiththespoons I had some code for most chapter up at https://github.com/firmread/ofBookExamples do you have any specific chapter you're looking for?

[2016-03-12 16:14] szawel opened #195 "Chapter Approaches spelling error"
Chapter Approaches/Function based movement/Sine and Cosine
in Simple examples it's

[code]

and i think it's supposed to be

[code]

ofGetElpasedTimef() needs to by change to ofGetElapsedTimef()

[2016-04-13 18:50] mikechambers opened #197 "Crash on ofLight in A Basic 3D Scene section in graphics"
I am working through the graphics section of ofBook in order to get a basic understanding of how to use 3D.

I am creating the app in the **A Basic 3D Scene** section, and when I try to compile, it is crashing the app.

[code]

The crash (EXEC_BAD_ACCESS, code=1, address=0x0) is on this line:

[code]

in ofAppRunner.cpp

This is OS X 10.11.4 in XCode 7.3

If I comment out my ofLight declaration in

[2016-04-13 18:52] mikechambers opened #198 "Typos in Graphics section"
http://openframeworks.cc/ofBook/chapters/openGL.html

A Basic 3D Scene section

Should be

Corrected spelling of obvious, and put a space between the sentences.

[2016-04-14 06:20] #198 closed

[2016-04-14 19:01] mikechambers opened #201 "Generating Meshes Chapter : Broken Image Link"
http://openframeworks.cc/ofBook/chapters/generativemesh.html

In the "Generative Mesh: Using an image to drive the creation of a mesh" section. There is a link to download the PNG of the hubble telescope image.

The generated link is incorrect, and redirects to the openframeworks main page. The link it points to is:

http://openframeworks.cc/images/stars.png

It should point to:

http://openframew

[2016-04-17 14:08] #201 closed

[2016-04-17 14:16] mikewesthad commented on #201
@mikechambers thanks for catching that!  Relative hyperlinks don't play nicely with the build system.

[2016-04-20 04:39] kynd commented on #185
Hi there, as I said in FB while ago, I'm pretty interested in contributing on this. What's the best way to begin with? @tado

[2016-04-20 04:47] tado commented on #185
@kynd Thank you! How about to write in this issue which document translating now? When you finished translation please send pull request. I will marge into the repository.

[2016-04-20 16:51] kynd commented on #185
sounds good. Are there any document that someone is already working on except for Installation_Up_4evr? Can I just pick whichever?

[2016-04-20 19:33] tado commented on #185
@kynd There is no person working on ofBook Translation expect Installation_Up_4evr. Please pick up which you like. tpltnt said good start for the translation are

- of_philosophy
- cplusplus_basics
- setup_and_project_structure
- intro_to_graphics
- OOPs!
- animation

Thank you for your support!!

[2016-04-21 23:51] kynd commented on #185
@tado cool, I'll take a look. One more qq: is there any preference on writing style? If not I'll just try following http://openframeworks.cc/ja//
Thanks,

[2016-04-22 02:27] tado commented on #185
@kynd Sorry, there is no style guide now. Please refer Jp documents on http://openframeworks.cc/ja/. Thanks!

[2016-04-23 07:28] kynd commented on #185
ok, slowly working on it
https://github.com/kynd/ofBook/commit/c8e2f49d5e260466c42f2b975d59bd3959248282

[2016-05-04 19:19] markjsb opened #207 "Ooops! Chapter"
You could be clearer over where exactly the 'vector <Ball> myBall;' goes.

I couldn't get this to completing this section, even cutting and pasting your code to ensure it wasn't errors. Always crashed out at x = _x; in the void Ball::setup(float _x, float _y, int _dim){. Thread 1: EXC_BAD_ACCESS

[2016-05-05 23:58] mikewesthad commented on #207
Letting the author know: ping @ruxrux

I haven't looked at that chapter in a while, but @firmread's repository for [ofBookExamples](https://github.com/firmread/ofBookExamples) might be helpful here.  He's broke the chapter down into 7 code examples [here](https://github.com/firmread/ofBookExamples/tree/master/02_OOPs!).

[2016-05-22 21:07] kynd commented on #185
@tado
Just wanting to let you know it's going. Taking long time...
https://github.com/kynd/ofBook/blob/master/chapters/cplusplus_basics/chapter.ja.md

[2016-05-22 23:03] tado commented on #185
Hi kynd,

Oh, sorry. I overlooked your pull request. I will check and marge it.
Thanks!
​​

On Mon, May 23, 2016 at 6:08 AM, kynd <notifications@github.com> wrote:

--
田所 淳 (たどころ あつし)

[2016-05-23 04:57] kynd commented on #185
@tado no, it's still WIP:) I just wanted to let you know I'm still working on it since it's been a long time. Will let you know when it's done

[2016-05-23 06:39] tado commented on #185
@kynd Oh ok. I understand... Thank you for your help!

[2016-05-28 13:38] imagineeringio opened #209 "Brushes with Basic Shapes - Warning message re QTKit and OSX 10.9"
Hi,
First let me say thank you so much to everyone involved in putting this book together. It is fantastic.]

Im hoping I can get some help with an example Brushes with Basic shapes, giving me an warning message preventing compile.

OSX: 10.11.2
Xcode version: 6.3.2
OF version: of_v0.9.3

File: ofQTKitGrabber.mm
Error message: #warning Using QTKit, which is deprecated in OSX 10.9

Is there a worka

[2016-05-28 13:40] ofZach commented on #209
thanks for the feedback !

the warning shouldn't matter (warnings are just telling you that something is deprecated).  do you see any messages in red?  this is also a good forum question (vs the github repo) since I think this is more about how to use / compile OF vs the content of the book.

[2016-05-28 13:43] imagineeringio commented on #209
Thank you! I thought it might be user generated!.

I'll head on over to the forums and leave you good people to what you do best.

Cheers
Simon

[2016-05-28 13:43] #209 closed

[2016-06-19 13:15] GreekFellows opened #210 "ToC accordion never scrolls; items on the bottom are obscured"
The accordion on the left side of every page that serves as the table of contents is never scrolled. As a result, when the accordion is expanded at a deep level, or at a part with many chapters, the items on the bottom of the accordion are never visible.

![image](https://cloud.githubusercontent.com/assets/6222896/16177466/402d6a28-3669-11e6-9a39-316e9f26e9a0.png)

This is when the reader is at Ba

[2016-06-25 09:29] fdiba opened #211 "See ofPtr - Broken link in chapter C++ - Sorting and shuffling a vector - Vectors of objects"
Here is a link that is broken in chapter C++ -  Sorting and shuffling a vector - Vectors of objects

[2016-06-25 11:04] VVZen opened #212 "Memory in C++ : wrong hex to decimal conversion"
**Chapter** : _Memory in C++_
**Paragraph** : _Memory structures, arrays and vectors_
When it says:

**0x0010 in hex is 16**, or am I missing something?
So the correct address should be **16 + (4*5) which in hex is 0x0024**
(I'm just a newbie so please forgive me if I'm wrong).

[2016-06-25 11:18] arturoc commented on #212
no, you are right, can you send a PR? perhaps also clear up that 0x0010 is 16 in decimal?

[2016-06-25 12:19] VVZen commented on #212
I'm just starting out in Git so I'll do my best.. ❗
Is this one the right workflow?
1. I fork the repo
2. I create a new branch in my fork
3. I modify the files
4. I commit the changes
5. I push the changes to the master branch of ofBook

[2016-06-25 13:27] bilderbuchi commented on #212
If you're just editing one file or so, you can just hit the edit button (little pencil?)  of the file in question, and github will do most if that for you. You create a commit with your changes and giyhub offers you to create a pull request.

[2016-06-25 16:03] VVZen commented on #212
Thanks bliderbuchi, PR opened!

[2016-06-26 15:05] roymacdonald opened #214 "New Chapter (ofImage/ofPixels)?"
Hey guys,
I was teaching OF earlier this year at OF Course in Shanghai and I wrote a piece regarding pixels and images.
https://github.com/ofcourseio/SPRING2016/blob/master/week4/pixels.md
I know that there's Golan's image processing chapter (which is really good and used some pieces of it for my writting), which also addresses pixels and images but all the image processing algos are a bit too muc

[2016-06-27 05:01] #212 closed

[2016-06-30 09:00] arturoc commented on #211
yes ofPtr was deprecated last version and won't appear in the docs probably. the link should point to shared_ptr in some c++ documentation perhaps or just remove it by now. do you want to send a fix?

[2016-07-01 08:48] fdiba commented on #211
Thank you for your answer. I did send a pull request.

[2016-07-01 09:02] #211 closed

[2016-07-02 14:09] tremblap opened #217 "error in demo code: balls.clear(); should read myBall.clear();"
balls.clear();
should read
myBall.clear();

[2016-07-02 14:34] tremblap opened #218 "semicolon missing"
in chapter HowOFworks

pixels1.allocate(640,480,OF_IMAGE_COLOR)

[2016-07-02 14:41] tremblap commented on #217
Sorry for the lack of precision: it is in the section "Making and delete as you wish - using vectors" of the chapter "Ooops! = Object Oriented Programming + Classes"

[2016-07-04 19:22] mikewesthad commented on #217
@tremblap thanks for pointing this out! Since it's a small typo, I'm going to go ahead and make it without waiting for the author to jump in.

By the way - you can propose changes yourself if you encounter any more typos. If you open up the `.md` file for the chapter in the browser and hit the pencil icon, GitHub will allow you to propose changes without having to go through the extended fork & pu

[2016-07-04 19:22] #217 closed

[2016-07-04 19:22] mikewesthad commented on #218
@tremblap thanks for pointing this out! Since it's a small typo, I'm going to go ahead and make it without waiting for the author to jump in.

[2016-07-04 19:22] #218 closed

[2016-07-04 21:09] mikewesthad commented on #210
@GreekFellows good point. I just implemented the simple fix version (8170b3b5c94f904d0004a57c91c198d849385654) of making the currently selected item collapsible. I agree that as the sidebar continues to grow, we'll need a more robust solution. Making the sidebar scrollable, independent of the chapter text, sounds like a good direction.

[2016-07-06 11:48] mikewesthad opened #219 "www.openframeworks.cc links broken - www subdomain doesn't work"
This might be an issue with the openframeworks site hosting. I just realized that a bunch of links that point to the `www` subdomain on openframeworks.cc no longer work.  For example:

- From OOPs!: "[short online tutorial on the openFrameworks website](http://www.openframeworks.cc/tutorials/c++%20concepts/001_stl_vectors_basic.html)"
- From Setup and Project Structure: "Go to [http://www.openfram

[2016-07-06 11:54] mikewesthad commented on #219
Fixed via sed and double-checked

[2016-07-06 11:54] #219 closed

[2016-07-07 08:17] tremblap opened #220 "in GameDesign- question"
In the code following
Add ofImage player_image to testApp.h, then load the player's image and instantiate the player in testApp's setup():

the initialisation of score = 0; has disappeared. Is that an error? It could confuse a diligent reader...

p

[2016-07-07 08:33] tremblap opened #221 "GAme Design - mid-chapter crisis"
When we reach the sentence:

You should have a player who moves around on-screen. Sweet! ###Player bullets

I find 2 errors:

- we don't have a Player.cpp code yet - so nothing will compile. (there is a short section missing here?)

- I presume ### is to declare a new section?

p

[2016-07-07 09:42] tremblap commented on #221
There was also nowhere that told us where to get the icons from, and where to put them for them to load. (I'm also told by the compiler that loadImage is deprecated)

[2016-07-07 09:45] tremblap commented on #221
width = player_image->width;
gives the error
'width' is a protected member of 'ofImage_<unsigned char>'

[2016-07-07 10:23] tremblap commented on #221
ok at this stage, my Player.cpp looks like this (with some executive decisions on about everything)

#include "Player.h"

void Player::setup(ofImage* player_image) {
    pos.set((ofGetWidth() / 2),(ofGetHeight() - 50),0);
    speed = 0;
    img = player_image;
    width = player_image->getWidth();          //gets an error saying that width is a protected member of 'ofImage_<unsigned char>'
    hei

[2016-07-07 11:11] tremblap opened #222 "game design: score_font not declared"
I presume of type ofTrueTypeFont, I declared in TestApp.h.

[2016-07-07 13:31] tremblap commented on #222
it works with this line added in the app.h
`    ofTrueTypeFont score_font;
`

[2016-07-07 14:11] mikewesthad commented on #221
@tremblap thanks for looking into this chapter! Pinging the author: @phoenixperry

Two quick things:

- @firmread was putting together a repository that has code put together from each chapter. It's here: https://github.com/firmread/ofBookExamples. I haven't looked through the code on this chapter, but it might be helpful to check that out.
- To make it easy for the author to see all your feedback

[2016-07-07 14:20] tremblap commented on #221
ok sorry for the mess - and I have to say that I did not know there was this repository! The errors I'm pointing at are still valid, but the answers are much more elegant in the official code repos!

another error/omission in the chapter: at the end there is no instance of LiveTesting - I can see it in the code repos but it would be good to add a paragraph at the end on it.

It was a fun chapter t

[2016-07-07 15:12] tremblap commented on #221
final comment: the OSC modified instance variables are never passed to the game engine. I get the updatedVals back, so I know OSC is modifying them, but they are not passed to the engine.

[2016-07-07 15:55] mikewesthad commented on #221
@tremblap the errors definitely seem like important ones - hope I didn't imply otherwise. And with respect to the ofBookExamples repository, it's hasn't become official yet, so it's not linked anywhere. Hopefully it'll get integrated into the book in the future.

[2016-07-07 16:11] tremblap commented on #221
no offence taken: don't forget I'm second language English (native French).

Another bug:
int i = bonuses.size()-1; i > 0; i--
should read
int i = bonuses.size()-1; i >= 0; i--

(I don't understand why iteration is done downwards in that example but good to show the hurdles of conditional ending)

[2016-07-08 08:30] tremblap commented on #106
I've posted another error(my bad) about this yesterday, with proposed changes too.

[2016-07-08 08:34] tremblap opened #223 "issues with chapter 'Image Processing'"
Hello

I'll put the fruit of my diligent reading here, bugs and suggestions.

First is a bug:
[code]
should use the .getWidth and .getHeight methods instead. (and loadImage just above should be replaced by .load)

[2016-07-08 08:38] tremblap commented on #223
@golanlevin btw the intro is fantastic review of possibilities outside of oF! Thanks for that resource!

[2016-07-08 09:01] tremblap commented on #223
I presume the sentence

is supposed to point at ofVideoPlayer documentation?

[2016-07-08 09:13] tremblap commented on #223
suggested reference after Euclidean distance 'https://en.wikipedia.org/wiki/Euclidean_distance

[2016-08-11 13:19] davidbeermann opened #225 "Sidebar menu does not expand/collapse on click"
Right now nothing happens when you click on any of the main items in the collapsible menu. It really is a just a minor JavaScript error: the callback function for the jQuery click handler is missing the event argument.

[code]

[2016-08-11 13:42] mikewesthad commented on #225
Ek! Good catch - thanks! It's fixed now.

It's odd, apparently Chrome and some other browsers have a global `event` variable, so this bug didn't break ofBook until I opened it up in Firefox.

[2016-08-11 13:42] #225 closed

[2016-08-21 11:38] cgiles opened #226 "typo in stl_map"
Hello there is a typo in the part "stl_map", in the chapter.md, line 262, it's written "we use a map wh**a**n we want..."

It's should a 'e' instead of the 'a'.

Regards

[2016-08-22 02:21] #226 closed

[2016-08-22 02:22] mikewesthad commented on #226
@cgiles good catch - thanks!

[2016-08-31 15:51] janus2 opened #228 "Typo in Advanced graphics>3D>ofMatrix4x4 example"
In the example in Advanced graphics>3D>ofMatrix4x4, I think the correct invocation of the method m.rotate(45,0,0,0) should be m.rotate(45,0,0,1).
Otherwise the square has no rotation.
Let me no if I am wrong.

Thanks.

[2016-09-01 03:12] bakercp opened #229 "Discussion of for / while loops?"
Hi there, is there currently a discussion of for / while loops that I have missed in my searches?  My searches turn up a mention in an chapter outline -- and it's used in a few examples, but it a nice thorough discussion would be a big plus for my students.  If none exists, is anyone planning to write it?  If not, shall I :)?  Seems like it would fit nicely in @jtnimoy 's cpp basics chapter.

Than

[2016-09-01 10:59] arturoc commented on #228
you are correct, do you want to send a fix? thanks!

[2016-09-01 11:03] mikewesthad commented on #229
@jtnimoy had a few sections on for/while loops in his [unabridged chapter](https://github.com/openframeworks/ofBook/blob/master/chapters/cplusplus_basics/unabridged.md).  That .md file might be a more useful reference for students in your class than the official html chapter.

If ofBook is being used as a teaching tool in beginner classes, then I think it would be good to move the link to the unab

[2016-09-01 12:53] #228 closed

[2016-09-05 10:23] elburz opened #231 "readme.md Read here link"
Currently the Read the latest version here! link points to the openframeworks Learning page, which might be misleading to the user to think that the first few tutorials are part of ofBook. I think the read here should lead straight to: http://openframeworks.cc/ofBook/chapters/foreword.html

[2016-09-05 10:30] elburz opened #232 "offline versions"
Is it possible to periodically build the pdf version of the ofBook and have a dropbox link for it somewhere near the beginning in the book? I think there are those that would use the offline version but seems a bit difficult to have to get the whole repo up and running to create your own pdf verison.

[2016-09-05 10:39] elburz opened #233 "ofBook direction/roadmap"
Is there a direction, road map, or status on current developments on ofBook? Are contributors writing sections they feel like writing or writing about what they are more experienced at? Are we missing anything critical for a new user? I find it hard to get a sense of how to best contribute by just reading through issues and pull requests. Something like a public Trello board could be beneficial to

[2016-09-05 20:40] golanlevin commented on #232
I agree that it would be great to have a more recent build of the PDF. The most recent version I can find is from 2015, and I know a lot has been done since then.

[2016-09-06 00:04] ofZach commented on #232
At some point, in order to get the book published, we made the decision collectively to scrap the PDF book export (which had some bugs) and focus completely on the things we needed to get done for the web version.  I'm not 100% what the status of the PDF export is but just wanted to mention this was a conscious decision to focus our energies on that....   at any rate, I will investigate the PDF ex

[2016-09-06 00:08] ofZach commented on #233
there is not alot of active development on the book at the moment -- mostly it's pull requests to fix chapters and some translation efforts.  I know @firmread was working on getting corresponding code repo established (not sure where that's at right now) and it will be good to hear from @bakercp about how his students take to the book and what might be missing.  I'd personally be interested in add

[2016-09-06 09:06] elburz commented on #232
@golanlevin where did you find the pdf? I have a tough time finding it

@ofZach understandable. Maybe something for further down the line, or possibly now if the development has slowed down due to time constraints, but we recently moved our similar project to gitbooks platform. Not perfect platform by any means but seems to be working for us with a similar folder/markdown layout as this project, a

[2016-09-06 09:17] elburz commented on #233
Hmm, happy to try and help close some of the open issues and review to see where we might be able to fill some holes. To your point, I think case studies would be great, to provide a design path for new users. If we were going to list/brainstorm those case studies to co-ordinate them, do you have a preferred way to do that?

[2016-09-06 14:04] bakercp commented on #233
I'll continue post any holes / omissions I find.  And @elburz I agree -- a clearer "roadmap" for the book (and documentation in general) would be great.  We made an effort to clarify our documentation contribution channels / priorities at the conference in Denver, but it's not clear if there is a centralized location for that.  The most obvious place to me would be to further develop (and potentia

[2016-09-09 06:20] elburz commented on #233
From a content perspective, are we considering ofBook a tangent piece of the greater documentation or is this a fully standalone piece? For reasons of overlap, matching style, thoroughness, etc.

Re: dynamism. Trello (ironically?) is a good example of using Trello as a roadmap:
https://trello.com/b/nC8QJJoZ/trello-development-roadmap

I think we could expand on that to have stacks for missing sect

[2016-09-09 12:58] mikewesthad commented on #232
Here's a fresh build: https://github.com/openframeworks/ofBook/releases/tag/v1.0.0.

After we made that decision to scrap the PDF book, I occasionally made some small tweaks to keep that pipeline limping along. It's currently broken by the SVGs in the memory chapter (since vanilla latex doesn't support SVG).  The old hack that was in place to fix that doesn't work, and I don't have the bandwidth r

[2016-09-12 21:12] jayce-leathers opened #234 "Problems building PDF"
I'm trying to build the pdf using the script I'm getting the following error

➜  scripts git:(master) ✗ python2.7 createPDFBook.py
Generating ../output/ofBook.pdf from:

Successful building of ../output/ofBook.tex
pandoc: Unable to convert `../chapters/memory/images/int_i.svg' for use with pdflatex.
pandoc: Unable to convert `../chapters/memory/images/int_i_equals_0.svg' for use with pdflatex.
pan

[2016-09-13 03:39] mikewesthad commented on #234
Re #232, the PDF build process was not really actively maintained (purposefully) in favor of focusing on the web book.  The problem with the build is that the latex setup doesn't understand SVGs, so it is breaking in the memory chapter.  There used to be a hack in place to work around that, but something has changed and it isn't working any more.  I don't have the bandwidth to look into it at the

[2016-09-13 07:23] arturoc commented on #234
hey, i don't have time right now to look into it but if someone want's to fix it it would just be a matter of converting the svg's in the memory chapter and the links in the text to pngs

[2016-09-13 11:25] elburz commented on #232
No problem, thanks for the effort in getting the fresh build up.

[2016-09-13 14:58] jayce-leathers commented on #234
@arturoc How were these svgs made? I open them in Sketch to convert and they appear corrupted i.e. not as they are in the book.

[2016-09-13 15:53] arturoc commented on #234
i think inkscape

[2016-09-14 19:09] AnasGhrab opened #235 "Problem in compiling createWebBook.py"
[code]

Any help ?

[2016-09-16 13:16] mikewesthad commented on #235
@AnasGhrab do you have [libsass](https://github.com/dahlia/libsass-python) installed? That's one of the [dependencies](https://github.com/openframeworks/ofBook#building-the-book) for building the book

[2016-09-19 02:20] bakercp commented on #233
Perhaps we could use the new github "Project" feature? https://help.github.com/articles/tracking-the-progress-of-your-work-with-projects/

[2016-09-19 02:22] bakercp commented on #233
![projects_ _openframeworks_ofbook](https://cloud.githubusercontent.com/assets/300484/18621253/f91701f2-7de5-11e6-9eb9-3c2e45940edc.png)

[2016-09-19 13:26] cgiles opened #236 "Some links are broken"
When I try to access the ofbook from there : http://openframeworks.cc/learning/#ofBook , most of the links point to the of homepage.

by example : http://openframeworks.cc/ofBook/chapters/hardware.html

[2016-09-19 13:27] bakercp commented on #236
Same issue here https://github.com/openframeworks/ofSite/issues/559

[2016-09-22 11:58] elburz commented on #233
Oh, that looks great, not sure why that didn't show up in google. Check out this test one I made for our TouchDesigner book. Quite simple in comparison to the issues and pulls we have for this repo, but I added a mix of issues, pulls, and just custom cards for todos that I have to do.

https://github.com/nVoid/Introduction-to-touchdesigner/projects/1

Seems like it might be an easy bet, I can give

[2016-09-22 13:10] bilderbuchi commented on #233
This was just launched <1week ago, so that's probably why you didn't see it. ;-)

[2016-09-26 18:45] ofZach commented on #236
this appears to be a server issue, working on it...

![398533_pikaconstruction](https://cloud.githubusercontent.com/assets/142897/18847330/cecfec7a-83f7-11e6-8b0d-414e83f23667.gif)

[2016-10-25 18:36] alexanderogle opened #238 "Example 2 in "Image Processing and Computer Vision" - Code does not build in Xcode"
After copying the code for example 2 from "Image Processing and Computer Vision" (Preliminaries to Image Processing) into Xcode and attempting to build the application, the build fails due to the following error:

In ofApp.cpp of example 2:
[line 30]        unsigned char\* pixelData = myVideoGrabber.getPixels();
Introduces the error:
“No viable conversion from ‘ofPixels’ (aka ‘ofPixels_<unsigned c

[2016-10-26 02:53] roymacdonald commented on #238
hi @alexanderogle ,
that line should be
`unsigned char* pixelData = myVideoGrabber.getPixels().getData();`
can you please test it in order to make the fix? Please inform if any other issue.
best!

[2016-10-26 04:23] alexanderogle commented on #238
Hey @roymacdonald,

That was definitely the fix. I was able to build and run the program after that.

Nice work!

[2016-10-26 05:13] ofZach commented on #238
cc @golanlevin -- it's a small fix for getPixels (which now returns ofPixels() vs before when it returned a pointer to the data)... maybe you can take a look at your chapter and see if there are any updates you need to make to the code accordingly ?

[2016-10-29 19:42] tpltnt commented on #236
Things seemed to be fixed. I tested all links mentioned here. How about closing this issue?

[2016-10-29 22:22] ofZach commented on #236
sure, closing!

[2016-10-29 22:22] #236 closed

[2016-10-30 08:22] tpltnt commented on #231
Thank you for spotting it. You are right and I created PR #240 to address it.

[2016-12-16 14:46] AntonioFrog opened #241 "Just the font"
the fonts of the book make the text really thin , and my eye get tired very quickly.
Just the personal feeling , i just need to get closer to the screen when i switch from other Tabs.

[2016-12-28 18:06] bonsoirval commented on #234
mikewesthad thank you so very much for making the ofbook.pdf available at https://github.com/openframeworks/ofBook/releases/tag/v1.0.0

[2017-03-22 06:44] hamoid commented on #197
This happens to me too, if I ignore the "Add this in the App.h" comment.

Did you maybe leave those two lines in the cpp file?

[2017-03-22 06:57] hamoid opened #243 "Graphics chapter is missing a section about lights"
There's currently an introduction, vertices, meshes, VBOs, a basic 3D scene, Matrices, Textures and Cameras. But no lights.

[2017-03-22 12:53] arturoc commented on #197
as the comment says that should go in the .h not in the cpp. if you put it in the cpp it'll be statically initialized before the opengl context is created which will make the app crash. going to close this but feel free to reopen if it still happens when moving it to the .h file

[2017-03-22 12:53] #197 closed

[2017-03-22 12:53] arturoc commented on #243
just posted this in the forum: https://forum.openframeworks.cc/t/understanding-oflight/26230/3 if you want to edit it a bit and add it to the docs that would be great

[2017-03-28 15:05] hamoid commented on #234
I learned a few days ago that Inkscape has a "save optimized" option. It produces smaller files, with better web compatibility I think. In case it can help with this issue.

[2017-05-05 01:42] #210 closed

[2017-05-19 17:03] david-sullivan opened #251 "adaptive background subtraction clarification in computer vision"
the text says "The overloaded operators for ofxCvImage make such running averages straightforward." however this only seems true for ofxCvFloatImage. If the background image is a type of ofxGrayscaleImage (or any other than floatImage), the example will not work.
my workaround, which may not be the best way, was:

`//convert grayImage and grayBg to ofxCvFloatImage versions, multiply then convert b

[2017-05-31 03:55] wongjustin99 commented on #195
I hit this today, frustrating experience when I come to an issue over a year old.

[2017-05-31 04:04] #195 closed

[2017-05-31 04:05] ofZach commented on #195
@szawel thanks for the correction!

@wongjustin99 sorry I just noticed the issue.  keep in mind that this is community driven project which we all did for free and because we want to help people -- it's not a professional book so sometimes we'll have some slip ups.  I didn't notice this issue but appreciate you bringing it to my attention.

[2017-05-31 04:07] ofZach commented on #195
(also another challenge with editing this book is that there are many authors, it can sometimes be hard to know whose issue belongs to whom, etc so things slip by.... at any rate, this was a simple change !!  sorry about the error ! )

[2017-05-31 04:09] wongjustin99 commented on #195
Thanks for the super fast response! I'll try and pitch a hand in whenever I come across any more typos.

[2017-05-31 04:10] ofZach commented on #195
thanks!!

[2017-06-06 02:44] #235 closed

[2017-06-06 02:50] mikewesthad commented on #235
I think the issue might have been having the "sass" python package installed instead of the "libsass" package (or having an out-of-date libsass package). To help avoid issues like this, I added a `requirements.txt` file to automate the installation of necessary python packages and updated installation instructions.

[2017-06-24 21:41] mcnuttandrew opened #255 "Can't scroll all the way down on navigation"
![160](https://user-images.githubusercontent.com/6854312/27512082-5ee748e0-58ea-11e7-9ac5-9351689fe2c1.gif)

As far as I can tell you can't scroll the navigation, which makes some links at the bottom of the nav inaccessible. I'm on latest chrome on latest macOS. Additionally, it looks like there isn't responsive css, so I want to also suggest reformatting the HTML/CSS to be responsive friendly (so

[2017-06-25 15:03] mikewesthad commented on #255
@mcnuttandrew - good points - thanks. I'm going start a responsive-layout branch to start addressing these.

[2017-06-27 05:12] roymacdonald opened #256 "ofEvents chapter"
Hi,
I'm almost finished with a new chapter about ofEvents.
The PR for it is https://github.com/openframeworks/ofBook/pull/253
It needs some proof reading, anyone willing to do so is very welcome.

There are some minor things that I'll finish during this week.

Although, I have a doubt about either being correct or being clear.
In most of the code examples I am not complying with the rule of 3, in

[2017-06-27 21:59] mikewesthad commented on #256
@roymacdonald I haven't used oF in quite some time, but I'd be happy to take a look and give some feedback later in the week. The others will likely have better feedback on things like how much of the common use cases & API you cover. Regardless, great to have another chapter in the book!

[2017-06-27 23:53] roymacdonald commented on #256
Hey @mikewesthad it would be great. I think that proof reading is important, as there might be issues with my English (as it is not my first language). There might be some strange wordings and stuff of that kind.
Let me know once you've gone through it.

Best!

[2017-07-03 15:38] mikewesthad commented on #256
Busy week - will be taking a look today and sending you a PR

[2017-07-03 21:20] mikewesthad commented on #256
Hey @roymacdonald, this chapter was super helpful and I learned a ton while reading it. Thanks for writing it! I've used observer-based event systems in other languages, but had no idea there was one in OF. It was also nice to get some insight into the upcoming changes to the v0.10 API. I'm sending a PR your way with a bunch of detailed suggestions and feedback in-line, but there were a couple gen

[2017-07-06 21:11] roymacdonald commented on #256
@mikewesthad  regarding this comment of yours

I just left these because the empty example has these and so it is not a confusing thing for newcommers, as why sometimes there are this funtions and sometimes not.
I completely agree that it is better to remove this empty functions.
If there's no problem adding examples that don't have these I'll be happy to ditch these.

[2017-07-07 00:07] mikewesthad commented on #256
@roymacdonald hmm, I think you could include them in the source files and exclude them from the chapter text. It might be good for us to add a note somewhere in the book about being able to omit unused methods from ofApp. "How openFrameworks works" seems like a good place.

[2017-08-15 05:03] #241 closed

[2017-09-05 13:38] edap opened #263 "chapter "Image Processing" needs to be update"
http://openframeworks.cc/ofBook/chapters/image_processing_computer_vision.html

see thread in the forum:
https://forum.openframeworks.cc/t/debugging-error-appears-in-the-instance-of-ofimage-function/27669/2

it is not the first time that this question arises.

Feel free to assign this issue to me, maybe @golanlevin or @brannondorsey  (as author and editor) can have a look later?

[2017-09-26 03:58] gregvw opened #266 "Using class name in place of object name in Textures chapter"
Immediately before the second image of the earth, there is the code line

ofTexture.setTextureMinMagFilter(GL_LINEAR_MIPMAP_LINEAR, GL_LINEAR)

ofTexture should presumably be replaced by the object mTex

[2017-09-26 13:56] mikewesthad commented on #266
Thanks! Pinging the author: @edap

[2017-10-30 10:05] Simplelenz opened #272 "ofBook Sound chapter loadSound() depricated"
I am using open frameworks in my mac. When I was following the Sound chapter in ofBook, it uses loadSound() function to load sounds but Xcode suggests that it is deprecated.

[2017-10-31 04:15] icq4ever commented on #272
it changed from `loadSound()` to  `load()`.
http://openframeworks.cc/documentation/sound/ofSoundPlayer/#show_load

[2017-10-31 04:53] Simplelenz commented on #272
you can close this thread updating the ofBook documentation. Thanks

[2017-11-01 11:41] Simplelenz opened #273 "Using a mp3 file to detect beat instead of sound stream"
In the Sound section of the ofBook, they use sound stream when detecting the beat or calculating the rms. How to use the mp3 file loaded using ofSoundPlayer to calculate the beat or the rms in the way mentioned in the ofBook?

[2017-11-02 20:03] roymacdonald commented on #273
Hi, you need to use an addon for such. There is [ofxSoundObjects](https://github.com/roymacdonald/ofxSoundObjects) which I co-wrote, that can be helpful. Check ofxaddons for other addons that probably can do what you want to.

The problem is that ofSoundPlayer uses a certain library to play files, which doesn't give access to the sound data, it just plays directly to the speakers. Hope this helps.

[2017-11-03 13:14] Simplelenz commented on #273
Thanks. I will check your addon. Im not a sound technology savvy guy. Im trying to implement some lighting effects using the arduino according to the song which is playing. Is there any easy way to contact you if I run into troubles? Thanks

[2017-11-07 18:21] ofZach opened #274 "oops chapter has a incorrect erase construction"
there's a snippet in this chapter that is written like this:

[code]

this is incorrect (and had a student got tripped up on this) since you are altering the vector as you delete.

either can rewrite it like this:

https://stackoverflow.com/questions/8597240/how-to-delete-an-element-from-a-vector-while-looping-over-it

I typically use lambdas now for this:

https://stackoverflow.com/questions/4478

[2017-11-07 18:48] bakercp commented on #274
Here is the way I approached it in my class - similar to stack overflow.

https://github.com/SAIC-ATS/ARTTECH-3135/blob/master/Session_05/03_ParticleSimpleAddRemoveForce/src/ofApp.cpp#L23-L52

[2017-12-05 22:13] Francisco-T-Chavez-IC opened #278 "Threads chapter is missing data."
I'm looking for addition online information on `ofThreadChannel`, but so far, the only real information is what I can figure out by breaking down the example projects that use it and what I can figure out through trial and error.

Having a section on this is an `ofThreadChannel`, with a breakdown on what it can do and how to do it would be nice.

[2017-12-05 22:55] roymacdonald commented on #278
did you check this? http://openframeworks.cc/documentation/utils/ofThreadChannel/

[2018-01-23 17:31] tmm2018 opened #285 "[docs] - openframeworks/ofBook - translating to portuguese - [helpful?]"
##### [docs] - openframeworks/ofBook - translating to portuguese - [helpful?]

is it helpful for me to translate ofBook to portuguese, to be added alongside with the documentation?

cheers
T.

[2018-03-15 11:58] admsyn commented on #272
fixed in e5c87b70db9edec1b907d2e92fe9c96085bdb895

thanks!

[2018-03-15 11:58] #272 closed

[2018-03-22 09:41] agatheblues opened #287 "Typo in Ooops!"
- In the section 'Make objects on the fly', there is 'we them define', it should be 'we then define' !
- In the section 'Making and delete as you wish...', there is 'we will loop though our vector', it should be 'we will loop through our vector'.

That's it :)
Content is super cool so far, thanks !

[2018-03-28 19:36] wuhnder opened #289 "Broken link in ofBook, Brushes From Freeform Shapes"
It's under the heading "Building a Brush from Polylines"

The text in bold above links to [http://openframeworks.cc/tutorials/c++%20concepts/001_stl_vectors_basic.html](http://openframeworks.cc/tutorials/c++%20concepts/001_stl_vectors_basic.html) (broken)

Correct link (I think) is:
[http://openframeworks.cc/ofBook/chapters/stl_vector.html](http://openframeworks.cc/ofBook/chapters/stl_vector.html)

[2018-03-28 22:31] #289 closed

[2018-03-28 22:31] mikewesthad commented on #289
@wuhnder Much appreciated - thanks!

[2018-06-07 22:10] OmerShapira opened #291 "Latex / MathML rendering broken in Math chapter"
to repro:

Load [the math chapter](https://openframeworks.cc/ofBook/chapters/math.html)

`\(\mathbb{Z}/12\mathbb{Z}\))` should display as rendered MathML

[2018-06-07 22:11] ofZach commented on #291
ah thx for pointing out -- I suspect it's a server setting / python issue...  will investigate

[2018-10-29 16:55] bidul commented on #291
the pandoc's [manual](http://pandoc.org/MANUAL.html#math-rendering-in-html) suggests an URL can be specified to the `--mathjax` option, so the replacement could be on this [line](https://github.com/openframeworks/ofBook/blob/master/scripts/createWebBook.py#L180) :

`"-s", "-p", "--mathjax=https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js",`

[2018-12-15 12:25] SynchromaAE opened #297 "Codeblocks files are gone"
In every version of OF from 0.9.0 onwards, the Codeblocks workspace files (.workspace) or project files (.cbp) are not included. The book needs to be updated to reflect this, possibly with a "Making a new OF project in Codeblocks" page. I am a beginner with OF and Codeblocks, but not with coding, and this is a serious omission for beginners.

[2018-12-15 15:19] hamoid commented on #297
It's here: https://openframeworks.cc/ofBook/chapters/setup_and_project_structure.html

I created a screenshot for the book. Although I'm not sure what to write about it...

#### QtCreator

[QtCreator](https://www.qt.io/qt-features-libraries-apis-tools-and-ide/#ide) is a cross platform free/libre IDE. It is quite "light" in terms of downloading but powerful nonetheless.
![qtcreator-of](https://user

[2018-12-15 17:00] roymacdonald commented on #297
Hi! @SynchromaAE Thanks for pointing this out.
I will take care of this.
@hamoid Thanks for the screen shot! :)

Cheers

[2018-12-15 17:46] hamoid commented on #297
Welcome :) BTW, there's more mentions of code::Blocks.
See https://github.com/openframeworks/ofBook/search?utf8=%E2%9C%93&q=%22code%3A%3Ablocks%22&type=

[2018-12-15 19:39] hamoid commented on #297
@roymacdonald Based on https://github.com/qt-creator/qt-creator/blob/master/LICENSE.GPL3-EXCEPT it's GPL3 with 2 exceptions.

[2018-12-16 11:18] arturoc commented on #297
@roymacdonald perhaps it's easier to just remove any mention of any particular IDE and just mention that the guides to install each IDE on each platform are in the downloads section. Even the VS reference seems super outdated now

That way whenever we add new IDEs or just update versions there's no outdated instructions

You could include mentions of well known IDEs but  making very clear that are

[2018-12-16 22:33] roymacdonald commented on #297
@arturoc yeah. you're right. I was going to include the links to each setup guide but it is much better as you say. I think that it is still a good idea to keep the screenshots as these make sense with the chapter's logic.
cheers

[2018-12-17 04:17] roymacdonald commented on #297
Hi @SynchromaAE , @arturoc , @hamoid
I just made a lot of improvements. Please check this PR. https://github.com/openframeworks/ofBook/pull/298
Some proof reading will be welcome.
cheers

[2019-01-28 11:54] alptugan opened #302 ""Vectors of objects" section - ...erasing a pointer to an object in a vector..."
There is a typo (missing **\*** operator) issue at the following code block;
`vector<Particle >::iterator it = particlePointers.begin();`

It should be replaced with the following;
`vector<Particle * >::iterator it = particlePointers.begin();`

[2019-01-28 12:56] elliotwoods commented on #302
how about just using `auto`
i think in this case - best is just make an edit and PR (can be done via GitHub itself)

[2019-01-28 17:12] alptugan commented on #302
Sure @elliotwoods

[2019-03-23 18:32] abrennec opened #305 "Ooops - Constructor section, polymorphism section"
Hi,
I would like to suggest two improvements to the oop chapter: #1 concerns the subsection "Make even more Objects from your Class: properties and constructors"; #2 concerns the subsection "Quick intro to polymorphism (inheritance)".

#1 - Following the section title, I would expect that the class constructor is going to be explained and used, i.e., Ball:Ball(). As far as I understand the code ex

[2019-04-14 22:32] jcarpenter12 opened #307 "Certain Animation chapter Scripts use ofSimpleApp instead ofBaseApp"
While trying to compile some of the Animation chapter projects I noticed that I wasn't able to due to the fact that the script used 'ofSimpleApp' instead of 'ofBaseApp' in the 'ofApp.h' files.

The affected files are as follows:

chapters/animation/code/14_sinExample_atan/src/ofApp.h -
chapters/animation/code/24_muscles/src/ofApp.h -
chapters/animation/code/20_attractionRepulsion/src/ofApp.h -
cha

[2019-04-14 22:37] jcarpenter12 commented on #307
#308 - Pull Request

[2019-04-15 08:52] #307 closed

[2019-05-08 16:19] icq4ever opened #310 "created html/css image, font links are broken."
for example, cannot find proper webFont "FiraMono", which is determined by `style.css` file.
while i'm investigate this issue, and image src links are broken as well.

for example, in generated html file, images are rendered as below screenshot(and check html file and actual file directory, additional screenshot.

![image](https://user-images.githubusercontent.com/530796/57390740-fe5ed780-71f7-11e

[2019-05-08 16:31] icq4ever commented on #310
oh and i forgot to mention about my environment.
manjaro distro (based on arch linux).

[2019-05-10 03:14] roymacdonald commented on #310
hi. At least that image appears in the website. is this an issue with your build? Which is the build that shows on the OF site?

[2019-05-11 02:15] icq4ever commented on #310
@roymacdonald yes it's from by build. but I cannot find same issue on OF ofbook site. as i remember it's not happen before (locally build)

[2019-06-08 03:33] dsvid opened #312 "ofbook - C++ Language Basics deprecated header calls"
Just wanted to point out that the #include functions in the C++ Language Basics are deprecated and will not compile on ideone.com

For example if you use

`
#include <iostream.h>
`

on ideone.com the code will note compile

if the header is changed to:

`
#include <iostream>
`

Then the code compiles.

Not a big deal, but it could be confusing for newcomers.

[2019-06-08 21:44] roymacdonald commented on #312
Thanks. Can you make a PR with the necessary changes?

[2019-06-10 07:52] dsvid commented on #312
sure, I've just made a pull request here https://github.com/openframeworks/ofBook/pull/313

[2019-06-10 13:33] roymacdonald commented on #312
Just merged. Thanks

[2019-06-29 18:54] lgarrido581 opened #314 "Error in Graphics, Brushes With Freebrush"
Following the code through the 'Polyline Pen: Tracking the Mouse' in Graphics section, and I'm getting this error:
"No matching member function for call to 'curveTo'"

for the following bit of code
`currentPolyline.curveTo(mousePos);  // Here we are using an ofVec2f with curveTo(...)`

ofNewb here btw, would like to start contributing more to OF. Let me know the best way to help!

[2019-07-28 18:17] esnho commented on #238
Hi, the issue with getPixels is still there, unfortunately it's a bit confusing because is hard to find a fix on google.

[2019-07-28 20:16] ofZach commented on #238
I've re-opened the issue, I think it's not just as simple as adding getPixels().getData() everywhere but maybe also re-writing the chapter about low level vs high level access to explain the ofPixels object.

[2019-07-28 20:59] golanlevin commented on #238
I somehow missed this issue in 2016. I'd be happy to give it some attention
later this week.
g

On Sun, Jul 28, 2019 at 4:16 PM ofZach <notifications@github.com> wrote:

[2019-07-29 00:51] roymacdonald commented on #238
Hi there,
I wrote [this](https://github.com/ofcourseio/SPRING2016/blob/master/week4/pixels.md) some time ago as some sort of extension to golans ofBook chapter. I'd be glad if this is used as well as helping to improve this chapter.

[2019-10-31 02:17] mikewesthad commented on #314
Sorry for the super long delay! I missed this earlier and only stumbled upon it recently. It looks like the chapter has been updated (10 months ago) to fix the issue, but the web version of the book hasn't been regenerated since.

@arturoc, any chance the copy of the web book on the OF site could be regenerated?

[2019-10-31 18:32] DeqingSun opened #318 "RASPBERRY PI up 4ever link is dead"
https://sfpc.hackpad.com/rPi-run-4-ever-qFgafqYPM54

on

https://openframeworks.cc/ofBook/chapters/installation_up_4evr_macosx.html

is dead

[2019-11-14 21:41] csverma610 opened #320 "Installing in include and lib folder"
Hello,

I want to install all the necessary Openframeworks header in an include and the
shared/static  library in the lib folder in some user-defined folder.

Is there any script to do that?

Having many troubles in making OpenFrameworks run for the first example.

[2019-11-15 00:57] bakercp commented on #320
This is not a bug in the ofBook project.  Please post your question on the forum.  https://forum.openframeworks.cc/

[2019-11-15 00:57] #320 closed

[2020-04-20 21:05] montoyamoraga commented on #312
@roymacdonald this issue can be closed because of #313  right? :)

[2020-04-20 22:49] roymacdonald commented on #312
@montoyamoraga gracias. :)

[2020-04-20 22:49] #312 closed

[2020-04-21 21:01] montoyamoraga commented on #287
@roymacdonald this issue can be sloed because of #326 :)

[2020-04-21 23:16] #287 closed

[2020-04-21 23:16] roymacdonald commented on #287
gracias @montoyamoraga

[2020-08-23 13:43] jhrtn commented on #251
I just ran into the same issue and your workaround helped me get through the last part of the chapter. It would be good to see a clarification in the docs what the best way to do this is

[2020-10-15 00:45] mutterer opened #330 "Possible mistake in image title"
Hi!
In the very nice chapter "Image Processing and Computer Vision", under paragraph "Thresholding", you're using a version of the popular "Blobs" sample image and labelling it "cells". I think the image more likely displays "gold particles", as annotated in "Computation of watersheds based on parallel graph algorithms", Meijster & Roerdink, in  "Mathematical morphology and its applications to ima

[2021-03-01 10:56] kflak opened #332 "[FR] responsive design"
Hi, and thanks a lot for the amazing work going into the ofBook!

I have one feature request: Hiding the sidebar when the width of the viewport goes below a certain threshold. I am often in the situation where I keep the book open on one side of the screen and my code on the other side. This leads to part of the text of the book being obscured by the sidebar. See screenshot:
![2021-03-01_12:55:25]

[2021-06-13 16:24] Daandelange commented on #318
Maybe this could be replacement ? (I haven't seen the hackpad before it was gone)
https://bloggerbrothers.com/2016/12/20/raspberry-pi-run-on-boot-and-run-forever-systemdsystemctl/

_[According to DropBox](https://www.dropboxforum.com/t5/Product-Updates/A-message-to-our-Hackpad-users/td-p/217103), the pad is still around, but only the creator can retrieve it..._

[2022-08-24 09:19] TimTalerJr opened #341 "Issue at Rotating Rectangles"
Hi,
in chapter Graphics - Moving the World - Rotating Rectangles, only translating to 500,200 and then rotating 45 degrees doesn't work like shown in fig. 21.2 .
After some try and error I translated back -500,200 after rotating. That worked well.